@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=c52dd15a-0863-43be-a7e8-bac92ca8b58e");

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=c52dd15a-0863-43be-a7e8-bac92ca8b58e");

@font-face {
  font-family: 'opencollective';
    src:url('~assets/fonts/opencollective/opencollective.eot');
  src:url('~assets/fonts/opencollective/opencollective.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/opencollective/opencollective.woff') format('woff'),
    url('~assets/fonts/opencollective/opencollective.ttf') format('truetype'),
    url('~assets/fonts/opencollective/opencollective.svg#opencollective') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('~assets/fonts/montserrat/montserrat-light-webfont.eot');
  src: url('~assets/fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
    url('~assets/fonts/montserrat/montserrat-light-webfont.woff') format('woff'),
    url('~assets/fonts/montserrat/montserrat-light-webfont.ttf') format('truetype'),
    url('~assets/fonts/montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
