@media (--large-viewport) {
  .PublicContent {
    max-width: calc(var(--max-container-width) - var(--spacing) * 2);
    margin:
      calc(var(--public-topbar-height) + var(--spacing))
      auto
      0
      auto;
  }
}

@media (--medium-viewport) {
  html {
    font-size: 14px; /* 1 rem = 14px; */
  }


  h1 {
    font-size: 24px;
  }

  .PublicGroup .PublicContent {
    padding: 1rem 1rem 5rem 1rem;
    max-width: calc(var(--public-topbar-height) + var(--spacing)) auto 0 auto;
  }
  .PublicTopBar .long {
    display: none;
  }
  .PublicTopBar-tagLine .Tagline, .PublicTopBar-signup {
    font-size: .8rem;
  }

  .PublicGroup-summary {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .PublicGroup-metricContainer {
    display: flex;
  }
  .PublicGroup-metricContainer .Metric {
    flex: 1;
    font-size: 1rem;
  }
  .Metric .Metric-value {
    font-size: 1.5rem;
  }
  .Metric .Metric-label {
    font-size: .8rem;
  }
  .PublicGroup .Button {
    margin-top: 0.5rem;
    /* TODO: Either kill yourself of find a workaround */
    display: block !important;
  }
  .PublicGroup-members {
    width: 100%;
    margin: 0 auto;
  }
  .UsersList-item {
    width: 6rem;
    padding-right: 0.25rem;
    margin: 0 0 1rem 0;
  }
  .UsersList .ProfilePhoto {
    width: 4rem;
    height: 4rem;
  }
  .UsersList-name {
    font-size: 0.85rem;
  }
  .PublicContent .PublicGroup-expenses, .PublicContent .PublicGroup-donations {
    width: 100%;
    padding-right: 0;
    margin-bottom:1.5rem;
  }
  .PublicGroup .TransactionItem .ProfilePhoto {
    width: 3rem;
    height: 3rem;
  }
  .PublicFooter .PublicFooter-menu {
    line-height: 30px;
  }
  .PublicFooter img {
    max-height: 30px;
  }

  .PublicGroupHero-content {
    /* line-height: 2.5rem; */
    padding: 8rem 0 3rem;
  }

  .PublicGroupHero-mission {
    line-height: 2.5rem;
    letter-spacing: -.5px;
  }

  /* For the subscription page */
  .Subscription-logo {
    height: 50px;
  }

  .Subscription-info {
    padding-top: calc(var(--spacing)/2);
  }

  .Subscription-cancel {
    display:block;
    margin-left: 0px;
  }

  .Subscription-transactions {
    margin-left: calc(50px + var(--spacing));
  }
}

@media (--small-viewport) {
  html {
    font-size: 12px; /* 1 rem = 14px; */
  }

  .Subscription-user {
    display: none;
  }

  .Subscription-info {
    max-width: 75%
  }

  .PublicGroupThanksV2 {
    .tweet {
      margin: 20px 0px;
      textarea {
        width: 90%;
        height: 7rem;
      }
    }
  }

/* For the subscription page */

}
