:root {
  --light-gray: #F9FAFA;
  --gray: #DDE1E4;
  --dark-gray: #7A7B82;
  --darkest-gray: #444444;
  --light-blue: #7FADF2;
  --aqua: #34D6BF;
  --green: #80d823;
  --dark-green: #63c000;
  --red: #dd2663;
  --dark-red: #c60042;
  --orange: #F3C524;
  --yellow: #fffbe1;
  --black: #303030;
  --gold: #cfa236;
  --background-color: #f5f6f7;
  --h2-color: #494b4d;
  --spacing: 1rem;
  --topbar-height: 62px;
  --public-topbar-height: 60px;
  --public-footer-height: 90px;
  --footer-height: 72px;
  --image-upload-height: 160px;
  --image-upload-child-height: 100px;
  --max-container-width: 1070px;
  --blur: 4px;
  --max-form-width: 400px;
  --handle-diameter: 16px;
}

@custom-media --large-viewport (min-width: 1070px);
@custom-media --medium-viewport (max-width: 600px);
@custom-media --small-viewport (max-width: 400px);