.AddFund {}

.AddFund-header {
  text-align: center;
}

.AddFund-name {
  font-weight: bold;
  padding-bottom: calc(var(--spacing) / 2);
}

.AddFund-description {
  margin-bottom: calc(var(--spacing) * 2);
}

.AddFund .Field {
  width: 100%;
  box-sizing: border-box;
}

.AddFund-buttonContainer {
  text-align: center;
  margin-top: var(--spacing);
}

.AddFund-info {
  font-style: italic;
  text-align: center;
}
