.App > div:not(.PublicGroup) label {
  color: var(--light-blue); 
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.App > div:not(.PublicGroup) label.inline {
  display: inline-block;
  margin-right: 0.5rem;
}
