.PublicTransaction .Well {
  margin: 0 -var(--spacing);
  border-top: 1px solid var(--gray);
}

.PublicTransaction .TransactionDetail-info  {
  float: none;
  margin-top: var(--spacing);
  display: inline-block;

}

.PublicTransaction-image  {
  display: inline-block;
}

.PublicTransaction-image img {
  max-width: 100px;
  max-height: 125px;
}
