{{>widgetlib}}

var width = OC.getContainerWidth();

const header = ({{header}}) ? `<h1>This is possible thanks to you<h1><h2>This project is possible thanks to our backers and sponsors</h2>` : '';

var html = `
  <center>
    ${header}
    <object type="image/svg+xml" data="https://opencollective.com/{{slug}}/sponsors.svg?width=${width}"></object><br />
    <object type="image/svg+xml" data="https://opencollective.com/{{slug}}/backers.svg?width=${width}"></object>
  </center>
`;

var e = document.createElement('div');
e.id = 'opencollective-banner';
e.innerHTML = html;

OC.inject(e);