<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{config.host.website}}{{{ cachebust '/css/invoice.css' }}}">
    <title>Open Collective Invoice</title>
  </head>
  <body>
    <div id="content">{{{html}}}</div>

    {{> google_analytics}}

    <div class="footer">
      <a href="https://opencollective.com">
          <img src="{{config.host.website}}/static/images/logo.svg" />
      </a><br />
      340 S LEMON AVE #3717<br />
      Walnut CA 91789<br />
      USA<br />
      EIN: 47-3896707
    </div>

  </body>
</html>