.gulpjs .CollectiveHero-mission {
  max-width: 44rem;
}

.gulpjs .Collective-font-20 a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.gulpjs .-green {
  color: #cf4646;
}

.gulpjs .-border-green {
  border-color: #cf4646;
}

.gulpjs a[href="#support"] {
  background-color: #000;
}

.gulpjs a[href="#support"]:hover {
  color: #000;
  background-color: #fff;
}

.gulpjs .UserPhoto {
  box-shadow: 0 0 0 2px #cf4646;
}

.gulpjs .Button--green {
  background-color: #cf4646;
}
