.CollectiveExpenseItem > div {
  border: 1px solid var(--gray);
  border-radius: 5px;

  .amount {
    margin: 0.5rem 0;
  }
}

.CollectiveExpenseItem-image img {
	max-width: 240px;
	max-height: 240px;
}

.CollectiveExpenseItem .help {
	margin-left: 4px;
}

.CollectiveExpenseItemStatus {
  font-size: 9px;
  padding: 2px 6px;
  border-radius: 4px;
}

.CollectiveExpenseItem-actions {
  margin: 1rem 0;
  .Button {
    max-width: 150px;
    margin-right: 1rem;
    &.Button--pay {
      &.paypal {
        max-width: 200px;
      }
      &.other {
        max-width: 100px;
      }
    }
  }
}