.CollectiveHero {
  overflow: hidden;
  .coverImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .underReview {
    background: rgba(0,0,0,0.5);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
  }
  .LoginTopBar {
    background-color: transparent;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    .LoginTopBar-nav .LoginTopBarButton {
      color: white;
      border-color: white;
      &:hover {
        background-color: transparent;
        opacity: .8;
      }
    }
    .LoginTopBar-nav .LoginTopBarLink {
      color: white !important;
      &:hover {
        opacity: .8;
      }
    }
  }
  .CollectiveHero-content {
    padding: 8rem 0 6rem;
  }

  .CollectiveHero-logo {
    height: 10rem;
  }

  .UserPhoto {
    width: 240px;
    width: 15rem;
    height: 160px;
    height: 10rem;
    margin: auto;
    margin-bottom: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    & > div {
      border-radius: 0;
    }
  }

  .ImagePicker-container {
    width: 240px;
    height: 160px;
    margin: 0 auto 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    .ImagePicker-loader {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      top: 5px;
      left: 25px;
      > div {
        margin: 45px auto;
      }
    }
    .ImagePicker-loader {
      top: 30px;
      left: 72px;
    }
    .ImagePicker-preview, .ImagePicker-preview img {
      width: 140px;
      height: 140px;
    }
    .ImagePicker-editControl {
      display: none;
      &.ImagePicker-prev {
        left: 5px;
      }
      &.ImagePicker-next {
        right: 5px;
      }
    }
    .ImagePicker-dot-list {
      bottom: -10px;
    }

    .ImagePicker-label {
      display: none;
    }

    &:hover {
      .ImagePicker-editControl {
        display: block;
      }
    }
  }

  .CollectiveHero-mission {
    line-height: 2.5rem;
    letter-spacing: -.5px;
  }
  .CollectiveHero-menu {
    font-size: 13px;
    width: 100%;
    z-index:1000;
    height: 3rem;
    background-color: rgba(0,0,0,.75);
    -webkit-backdrop-filter: blur(5px);
    a {
      margin: 1rem 1rem;
      font-size: 0.7rem;
    }
    a:hover {
      opacity: .8;
    }
  }
  .scrollDown {
    margin-top: 2rem;
  }
}