[contenteditable=true]:empty:before{
  content: attr(placeholder);
  font-style: italic;
  display: block; /* For Firefox */
}

span.editing {
  min-width: 20px;
  display: inline-block;
}

.ContentEditable {
  border: 1px dotted transparent;
  &.ContentEditable--enabled:hover {
    background: white;
    color: black;
    border: 1px dotted black;
  }
  &.ContentEditable--enabled:focus {
    background: white;
    color: black;
    border: 1px dotted black; 
  }
  &.placeholder {
    font-style: italic;
    color: var(--dark-gray);
  }
}

.ContentEditable-name {
  max-width: 700px;
  margin: 0 auto;
}

.ContentEditable-website, .ContentEditable-twitterHandle {
  font-size: 0.9rem;
}

.ContentEditable-description p {
  text-align: center;
}

.ContentEditable-username::before {
  content: 'opencollective.com/';
}

.ContentEditable--enabled.ContentEditable-twitterHandle::before {
  content: 'twitter.com/';
}
