.DonationPicker ul {
  list-style: none;
  padding: 5px;
  overflow: hidden;
  margin: 1rem 0;
}

.DonationPicker label {
  font-size: 1.25rem;
  margin-right: 4rem;
  float: left;
}

.DonationPicker li, .DonationPicker label {
  float: left;
  cursor: pointer;
}

.DonationPicker h2 {
  font-size: 1rem;
  font-weight: bold;
}

.DonationPicker-amount label {
  font-size: 1.2rem;
  margin-right: 3rem;
  color: var(--light-blue);
}

.DonationPicker-amount--selected label {
  font-weight: bold;
  color: var(--dark-gray);
}

.DonationPicker-currency {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
}

.DonationPicker-customfield {
  max-width: 500px;
}

.DonationPicker-input.Input {
  float:left;
  margin-right: 1rem;
  min-width: 0px;
  max-width: 40%;
}

.DonationPicker .SelectContainer {
  width: 200px;
  font-size: 1.2rem;
  float: left;
  margin-top: 0.5rem;
  max-width: 40%;
}

.DonationPicker-input .Field {
  min-width: 0px;
  max-width: 100%;
}
