.DonationPicker-amount {
  min-width: 3rem;
  min-height: 3rem;
  cursor: pointer;
}

.DonationPicker-amount--selected {
  background-color: #494B4D;
  color: #fff;
}

.DonationPicker-input.Input::before {
  content: '$';
  position: absolute;
  left: 10px;
  bottom: 8px;
  font-size: 15px;
}

.DonationPicker-input .Field {
  width: 100%;
  padding: 0 .5rem 0 1.2rem;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.05);
}

.DonationPicker .SelectContainer {
  display: block;
}

.DonationPicker .SelectContainer::after {
  top: calc(50% - 8px);
  color: #919699;
}

.DonationPicker .Select {
  padding: 0 .5rem;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.05);
}

.DonationPicker-input .Field,
.DonationPicker .Select {
  font-size: 15px;
  height: 40px;
  margin: 0;
  background: white;
  border: 1px solid rgba(48, 50, 51, .15);
}

