.ExpenseForm {
  box-sizing: border-box;
  padding: 40px;
  .line1 {
    height: 17px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .info-block {
    vertical-align: top;
    display: inline-block;
    min-width: 160px; 
    height: 45px;
    margin-top: 20px;
    margin-bottom: 40px;
    .info-block-value {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: normal;
      color: #313131;
      line-height: 1.25;
    }
    .info-block-label {
      font-family: Lato;
      font-size: 10px;
      font-weight: bold;
      color: #b3b3b3;
      text-transform: uppercase;
    }
  }
  .input-container {
    label {
      height: 19px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      color: #666666;
      margin-top: 5px;
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    input {
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px #f2f2f2;
      padding: 10px 20px;
    }
    .ImageUpload {
      margin-top: 10px;
      padding-bottom: 30px;
      & > div:nth-child(1) {
        height: 288px;
        background-color: #ffffff;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(45, 77, 97, 0.3);
        cursor: pointer;
        opacity: .8;
        overflow: hidden;
        img[src=""] {
          display: none !important;
        }
        label {
          text-align: center;
          padding-top: 15px;
          font-family: Lato;
          font-size: 15px;
          font-weight: bold;
          line-height: 1.33;
          color: #797d80;
        }
        &.placeholder, &:not(.imagePreview) {
          background-image: url(/static/images/users/upload-default.svg);
          background-repeat: no-repeat;
          background-position: center;
          &:hover {
            background-image: url(/static/images/users/upload-hover.svg);
          }
          &:active {
            background-image: url(/static/images/users/upload-pressed.svg);
          }
        }
        &.imagePreview {
          img {
            width: 100%;
          }
        }
      }
    }
    .SelectContainer {
      width: 100%;
      &::after {
        cursor: pointer;
        right: 20px !important;
        margin-top: 5px;
      }
      select {
        padding: 10px 16px;
        outline: 0;
        cursor: pointer;
        appearance:none;
        height: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        border: solid 1px #f2f2f2;
        margin: 8px 0;
      }
    }
    .CustomTextArea {
      width: 100%;
      margin: 8px 0;
      margin-bottom: 20px;
    }
    input[type="file"] {
      position: absolute; 
    }
  }
  .expenses-container {
    padding-top: 40px;
  }
}

@media (max-width: 818px) {
  .col {
    &.pr1 {
      padding-right: 0;
    }
    &.pl1 {
      padding-left: 0;
    }
  }
  .ExpenseForm {
    padding: 20px;
    .line1 {
      font-size: 16px;
      font-family: montserratlight, sans-serif;
    }
    .info-block {
      margin-bottom: 20px;
      &.mr3 {
        margin-right: 0;
      }
    }
  }
}