.ExpenseForm .ImageUpload {
  float: left;
  margin-right: 4rem;
  max-width: 250px;
  overflow: hidden;
  
  img {
    max-width: 250px;
  }
}

@media (--medium-viewport) {
 .ExpenseForm {
   .ImageUpload {
     float: none;
     margin: 0 auto;
     margin-right: auto;
   }
 }
}