.ExpenseForm {
  box-sizing: border-box;
  padding: 40px;
  margin: 0;
  .-notes textarea {
    height: 145px;
  }
  .input-container {
    .ImageUpload {
      margin-top: 10px;
      padding-bottom: 30px;
      text-align: center;
      & > div:nth-child(1) {
        height: 288px;
        position: relative;
        background-color: #ffffff;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(45, 77, 97, 0.3);
        cursor: pointer;
        opacity: .8;
        overflow: hidden;
        img[src=""] {
          display: none !important;
        }
        label {
          text-align: center;
          padding-top: 15px;
          font-family: Lato;
          font-size: 15px;
          font-weight: bold;
          line-height: 1.33;
          color: #797d80;
        }
        &.placeholder, &:not(.imagePreview) {
          background-image: url(/public/images/users/upload-default.svg);
          background-repeat: no-repeat;
          background-position: center;
          &:hover {
            background-image: url(/public/images/users/upload-hover.svg);
          }
          &:active {
            background-image: url(/public/images/users/upload-pressed.svg);
          }
          img[src="/public/images/mime-pdf.png"] {
            height: 200px;
            margin-top: 20px;
            background-color: white;
          }
        }
        &.imagePreview {
          img {
            width: 100%;
          }
          label {
            position: absolute;
            width: 100%;
            bottom: 0px;
            left: 0px;
          }
        }
      }
    }
    input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
    }
  }
  .Button {
    margin: 3rem auto 0;
  }
}

@media (max-width: 818px) {
  .col {
    &.pr1 {
      padding-right: 0;
    }
    &.pl1 {
      padding-left: 0;
    }
  }
  .ExpenseForm {
    padding: 20px 20px 40px 20px;
    .line1 {
      font-size: 16px;
      font-family: montserratlight, sans-serif;
    }
    .info-block {
      margin-bottom: 20px;
      &.mr3 {
        margin-right: 0;
      }
    }
  }
}