.ExpenseForm .ImageUpload {
  float: left;
  margin-right: 4rem;
  max-width: 250px;
  overflow: hidden;
  
  img {
    max-width: 250px;
  }
}

.ExpenseForm form {
  overflow: hidden;
  
  input[type=text], select, textarea, .SelectContainer {
    width: 100%;
  }
}

.ExpenseForm .row {
  margin: 1rem 0;
}

.ExpenseForm label {
  display: block;
}