.ImagePicker-container
{
  position: relative;
  width: 170px;
  height: 160px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(45,77,97,0.30);
  margin: 5px auto;
}

.ImagePicker-loader
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .3);
}

.ImagePicker-loader > div {
  margin: 75px auto;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: loader-anim 1.1s infinite ease;
  transform: translateZ(0);
}

.ImagePicker-label
{
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  width: 132px;
  margin: 0 auto;
  font-size: 12px;
  color: #919699;
  height: 16px;
  text-align: center;
}

.ImagePicker-preview
{
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 64px;
  height: 64px;
  background-color: #fafafa;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.avatar .ImagePicker-preview
{
  border-radius: 100%;
}

.logo .ImagePicker-preview
{
  border-radius: 6px;
}

.ImagePicker-source-badge
{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 100%;
  overflow: hidden;
}

.ImagePicker-prev,
.ImagePicker-next
{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 10px;
  height: 16.4px;
  height: 16px;
  color: #75cc1f;
  cursor: pointer;
}

.ImagePicker-prev
{
  left: 20px;
  background-image: url(/static/images/prev_gray.svg);
}

.ImagePicker-prev.active
{
  background-image: url(/static/images/prev.svg);
}

.ImagePicker-next
{
  right: 20px;
  background-image: url(/static/images/next_gray.svg);
}

.ImagePicker-next.active
{
  background-image: url(/static/images/next.svg);
}

.ImagePicker-dot-list
{
  position: absolute;
  padding: 0;
  bottom: 18px;
  left: 0;
  right: 0;
  width: 80px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  list-style-type: none;  
}

.ImagePicker-dot-list li
{
  position: relative;
  display: inline-block;
  margin: 0 4px;
  white-space: nowrap;
  width: 8px;
  height: 5px;
  cursor: pointer;
}

.ImagePicker-dot-list li:after
{
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 9px;
  height: 9px;
  background-color: rgba(48, 50, 51, 0.2);
  border-radius: 100%;
}

.ImagePicker-dot-list li.selected:after
{
  background-color: #75cc1f;
}

.ImageUpload-container
{
  display: none;
}

@keyframes loader-anim {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
