.Invoice {
  padding: 30px;
  font-size: 12px;
  max-width: 600px;

  .header {
    margin: 10px 0px;
    overflow: hidden;
    h1 {
      margin: 10px 0px 0px;
      line-height: 20px;
    }
  }

  .row {
    overflow: hidden;
  }

  .hero {
    border-radius: 3px;
    float: left;
    overflow: hidden;
    width: 120px;
    height: 60px;
    position: relative;
    margin: 0px 20px 20px 0px;
    .cover {
      position: absolute;
      background-size: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .logo {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-width: 75%;
      max-height: 75%;
      margin: auto;
    }
  }

  .userBillingAddress {
    float: left;
    margin-right: 40px;
  }

  .invoiceDetails {
    float: left;
  }

  label {
    display: inline-block;
    width: 4rem;
  }

  .rc-table {
    clear: both;
    margin: 100px 0px;
  }

  h2 {
    margin-bottom: 0;
    font-size: 14px;
  }

  table {
    margin: 80px 20px;

    td {
      padding: 2px;
    }

    .date {
      width: 2rem;
    }

    .footer {
      border-top: 1px solid grey;
      font-weight: bold;
      text-align: left;
      font-size: 12px;
      img {
        max-height: 100px;
      }
    }
  }

}

.footer {
  margin-top: 125px;
  text-align: center;
  font-size: 10px;

  img {
    max-height: 100px;
    max-width: 200px;
  }
}
