.LoginTopBar {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  .LoginTopBar-logo {
    position: absolute;
    background-image: url(../images/oc-logo-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 15px;
  }
  .LoginTopBar-logo:hover {
    cursor: pointer;
  }
  .LoginTopBar-nav {
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    padding-top: 15px;
    .LoginTopBar-Links {
      display: inline-block;
      min-width: 200px;
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
      }
      padding-left: 10px;
      padding-right: 10px;
    }
    .LoginTopBarProfileButton,
    .LoginTopBarButton,
    .LoginTopBarLink {
      margin: 0 10px;
    }
    .LoginTopBarButton {
      box-sizing: border-box;
      display: inline-block;
      height: 30px;
      border-radius: 100px;
      border: solid 2px #46b0ed;
      font-size: 11px;
      letter-spacing: 1px;
      text-align: center;
      color: #46b0ed;
      text-transform: uppercase;
      padding: 4px 15px;
      cursor: pointer;
      font-weight: bold;
      &:hover, &:active {
        background-color: #46b0ed;
        color: white;
      }
    }
    .LoginTopBarLink {
      box-sizing: border-box;
      display: inline-block;
      font-size: 12px;
      letter-spacing: 1px;
      text-align: center;
      color: #b4bbbf;
      text-transform: capitalize;
      padding: 4px 0px;
      cursor: pointer;
      &:hover, &:active {
        color: #363636;
      }
      &.-blue {
        color: #46b0ed;
        &:hover, &:active {
          color: #46b0ed;
        }
      }
    }
    .LoginTopBarSeperator {
      display: inline-block;
      width: 1px;
      margin: 0 5px;
      height: 30px;
      height: 40px;
      background-color: #e6e6e6;
      vertical-align: middle;
    }
    .LoginTopBarProfileButton {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      height: 40px;
      border-radius: 5px;
      vertical-align: middle;
      margin-right: 0;
      padding: 6px 11px;
      &:hover {
        background-color: #fbfbfb;
        cursor: pointer;
        .LoginTopBarProfileButton-caret {
          &:after {
            border-top: 5px solid #fbfbfb;
          }
        }
      }
      &:active,
      &.-active {
        background-color: #f7f7f7;
        .LoginTopBarProfileButton-caret {
          &:after {
            border-top: 5px solid #f7f7f7;
          }
        }
      }
      .LoginTopBarProfileButton-avatar {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-color: #fdfdfd;
        vertical-align: middle;
        border-radius: 100%;
        overflow: hidden;
        background-size: contain;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .LoginTopBarProfileButton-name {
        display: inline-block;
        height: 14px;
        font-size: 12px;
        font-weight: bold;
        color: #46b0ed;
        margin: 0 5px;
      }
      .LoginTopBarProfileButton-caret {
        position: relative;
        display: inline-block;
        width: 14px;
        height: 6px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border-top: 6px solid #46b0ed;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
        }
        &:after {
          content: '';
          position: absolute;
          left: 1px;
          top: 0;
          border-top: 5px solid white;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }
    }
    .LoginTopBarProfileMenu {
      position: absolute;
      top: 40px;
      right: 0;
      z-index: 999;
      min-width: 170px;
      max-width: 300px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #f2f2f2;
      padding: 20px 0;
    }
  }
}

.LoginTopBarProfileMenu {
  ul {
    width: 100%;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    li {
      box-sizing: border-box;
      float: left;
      width: 100%;
      padding: 0 10px;
      a {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        color: #84898c;
        padding: 1px 20px;
        border-radius: 4px;
        &:active,
        &:hover {
          background-color: #f0f0f0;
        }
        &.-blue {
          color: #46b0ed;
        }
      }
    }
  }
  div:last-child ul {
    margin-bottom: 0;
  }
}

.LoginTopBarProfileMenuHeading {
  position: relative;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  color: #b4bbbf;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: default;
  height: 13px;
  span {
    display: inline-block;
    position: absolute;
    height: 13px;
    background-color: white;
    z-index: 1;
    padding-right: 5px;
  }
  .-dash {
    position: absolute;
    top: 7px;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #e6e6e6;
    z-index: 0;
  }
}

.LoginTopBar-nav .LoginTopBarLink:last-child {
  margin-right: 0;
  padding-right: 0;
}

@media (min-width: 701px) {
  .LoginTopBar .LoginTopBarProfileMenu {
    .LoginTopBar-Links {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .LoginTopBar div:not(.LoginTopBarProfileMenu) {
    .LoginTopBar-Links {
      display: none;
    }
    .LoginTopBarSeperator {
      visibility: hidden;
    }
  }
  .LoginTopBar .LoginTopBarProfileMenu {
    .LoginTopBar-Links {
      display: block !important;
      width: 100%;
      .LoginTopBarButton {
        display: none;
      }
      .LoginTopBarLink {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #84898c;
        padding: 1px 20px;
        border-radius: 4px;
        margin: 0;
        letter-spacing: 0;
      }
    }
  }
}
