.Notification {
  padding: 0.5rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  z-index: 100;
  opacity: 0.65;
}

.Notification--error {
  background-color: var(--red);
}

.Notification--success {
  background-color: var(--black);
}

.Notification--warning {
  background-color: var(--orange);
}

.Notification--info {
  background-color: var(--light-blue);
}

.Notification--hide {
  display: none;
}

.Notification span,
.Notification .Icon:before {
  vertical-align: middle;
}

.Notification .Icon {
  margin-right: calc(var(--spacing) / 2);
}
