.PublicFooter {
  background-color: #303233;
  .left {
    padding-top: 28px;
  }
  ul {
    white-space: pre;
  }
}

.PublicFooter-menuItem {
  display: inline-block;
  padding: 0 var(--spacing);
  font-weight: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 700px) {
  .PublicFooter {
    .left {
      display: none;
    }
    .right {
      float: none;
      width: 100%;
      text-align: center;
    }
  }
}
