.PublicFooter {
  background-color: #303233;
}

.PublicFooter-menuItem {
  display: inline-block;
  padding: 0 var(--spacing);
  font-weight: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
