.PublicTopBar {
  background-color: var(--light-blue);
  color: white;
  height: var(--public-topbar-height);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.PublicTopBar a {
  color: white;
}

.PublicTopBar a:hover {
    text-shadow: 0px 0px 2px rgba(100,100,100,0.5);
}

.PublicTopBar-signup {
  display: inline-block;
  line-height: var(--public-topbar-height);
  float: right;
  margin-right: var(--spacing);
}

.PublicTopBar-tagLine {
  display: inline-block;
  line-height: var(--public-topbar-height);
  margin-left: var(--spacing);
}

.PublicTopBar-tagLine .OC-Icon {
  float: left;
  margin-top: 2px;
}

.PublicTopBar-tagLine .Tagline {
  margin-left: 25px;
  margin-top: 0px;
}
