.PublicGroupForm-checkout {
  margin: 3rem auto 0;
  text-align: center;
  max-width: 500px;
  display: block;
}

.PublicGroupForm .StripeCheckout {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
