.RepositoryPicker
{
	box-sizing: border-box;
	width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: auto;
	max-height: 380px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}