.StripeReminder {
  text-align: center;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 20px 0px;
  margin-top: 30px;
}

.StripeReminder .Button--connectstripe {
  width: 200px;
  margin-top: 20px;
}