.SubscriptionItem {
  box-sizing: border-box;
  width: 800px;
  min-height: 220px;
  background-color: #ffffff;
  margin: 30px auto;
  .SubscriptionItem-header {
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
    height: 40px;
    padding: 10px 20px;
    .left {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 700;
      color: #4a4a4a;
    }
    .right {
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      font-style: italic;
      text-align: right;
      color: #b3b3b3;
    }
  }
  .SubscriptionItem-body {
    box-sizing: border-box;
    height: 150px;
    padding: 20px;
    .SubscriptionItem-image {
      display: inline-block;
      width: 110px;
      height: 110px;
      background-color: #ffffff;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
      vertical-align: top;
      margin-right: 15px;
    }
    .SubscriptionItem-info {
      display: inline-block;
      min-width: 105px;
      height: 105px;
      padding-top: 15px;
      .SubscriptionItem-info-amount {
        font-family: montserratlight;
        font-size: 33px;
        color: #2a2a2a;
        .currency-code {
          font-size: 12px;
        }
      }
      .SubscriptionItem-info-recurrence {
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        color: #9b9b9b;
      }
    }
  }
  .SubscriptionItem-footer {
    box-sizing: border-box;
    min-height: 30px;
    .footer-button {
      border-top: 1px dotted #f2f2f2;
      font-family: Lato;
      font-size: 12px;
      line-height: 2.25;
      font-weight: 400;
      color: #7fadf2;
      text-align: center;
      text-transform: uppercase;
      height: 30px;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px 40px 20px;
      li {
        border-bottom: 1px solid #e6e6e6;
        box-sizing: border-box;
        height: 80px;
        padding: 20px 0px;
        vertical-align: middle;
        width: 100%;
        .SubscriptionItem-DonationItem {
          box-sizing: border-box;
          height: 40px;
          width: 100%;
          font-size: 14px;
          font-family: Lato;
          img {
            width: 40px;
            height: 40px;
            border: solid 1px #7faff5;
            margin-right: 10px;
            border-radius: 100%;
          }
          .type {
            height: 17px;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            color: #4a4a4a;
          }
          .timeago {
            height: 17px;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            color: #969696;
          }
          .amount {
            height: 17px;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            text-align: right;
            color: #75cc1f;
          }
        }
      }
    }
  }
}
