.UserPhoto {
  width: 4rem;
  height: 4rem;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #75CC1F;
  background-image: url('/static/images/loading.gif');
  border-radius: 50%;
}

.UserPhoto--loaded
{
  background-image: none;
}

.UserPhoto div {
  border-radius: 50%;
}

.UserCard .UserPhoto.sponsor, .UserCard .UserPhoto.sponsor div {
    border-radius: 0;
    width: 140px;
    height: 64px;
    border: none;
    box-shadow: none;
}

.UserPhoto-badge {
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 3px;
}