.UserCard {
  width: 12rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(46, 77, 97,.2);
}

.UserCard-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.UserCard-name > a {
  width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.UserCard-role {
  font-size: .6875rem;
  letter-spacing: 1.47px;
}

/* sponsor card */
.UserCard.sponsor {
  width: 17.5rem;
}

.UserCard.sponsor > .UserCard-name > a {
  width: 15.5rem;
}
