.UserPhoto {
  width: 4rem;
  height: 4rem;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #75CC1F;
  background-image: url('~assets/images/loading.gif');
  background-size: 12px;
  border-radius: 50%;
  background-color: #e9eaea;
}

.UserPhoto--loaded
{
  background-image: none;
}

.UserPhoto div {
  border-radius: 50%;
}

.UserPhoto.organization, 
.UserPhoto.organization div:first-child {
  border-radius: 0p;
  border: 0;
  box-shadow: none;
  width: 180px;
}

.UserCard .UserPhoto.sponsor, .UserCard .UserPhoto.sponsor div:first-child {
    border-radius: 0;
    width: 140px;
    height: 64px;
    border: none;
    box-shadow: none;
}

.UserPhoto-badge {
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 3px;
}