.UsersList-item {
  display: inline-block;
  padding-right: var(--spacing);
  text-align: center;
  width: 7rem;
  height: 9rem;
  vertical-align: top;
  margin: 0 0 1.5rem 0;
}

.UsersList .ProfilePhoto {
  margin: 1px auto;
}

.UsersList-name {
  padding: .2rem 0rem;
  font-weight: bold;
  font-size: 0.9rem;
  height: 1.2rem;
  overflow: hidden;
  margin: 0 auto;
}

.UsersList-tier {
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: var(--dark-grey);
}

.UsersList-amount {
  padding-top: calc(var(--spacing) / 2);
  font-size: calc(var(--spacing) * 1.3);
}