.Widget {
  background: transparent;
  padding: 1rem;
}

.Widget-header {
  text-align: center;
}

.Widget-header img {
  max-width: 200px;
}

.Widget-balance .Currency{
  color: var(--dark-gray);
  font-size: 3rem;
  font-weight: bold;
}

.Widget-label {
  color: var(--light-blue);
  text-transform: uppercase;
  font-weight: bold;
}

.Widget-donate {
  width: 100%;
  position: -webkit-sticky;
  top: 0;
  margin: 1rem 0;
  padding: 0.5rem 0;
  background: rgba(255,255,255,0.8);
}

.Widget-button {
  width: 100%;
  padding: 0.5rem 0;
  background: var(--green);
  border-radius: 2rem;
}

.Widget-backers {
  margin: 2rem 0;
  text-align: center;
}