.Widget {
  background: transparent;
  padding: 1rem;
}

.Widget-header {
  text-align: center;
}

.Widget-header img {
  max-width: 200px;
}

.Widget-balance .Currency{
  color: var(--dark-gray);
  font-size: 3rem;
  font-weight: bold;
}

.Widget-label {
  color: var(--light-blue);
  text-transform: uppercase;
  font-weight: bold;
}

.Widget-button {
  margin: 0 auto;
  margin: 2rem 0rem 1rem 0rem;
  background: var(--green);
}