/* GENERAL */
.Collective {
  .LoginTopBar {
    margin-bottom: 20px;
  }
}

.Collective-font-13 {
  font-size: .8125rem;
  line-height: 1.5rem;
}

.Collective-font-15 {
  font-size: .9375rem;
  line-height: 1.594rem;
}

.Collective-font-17 {
  font-size: 1.0625rem;
  line-height: 1.688rem;
}

.Collective-font-20 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}


/* Collective ledger */
.CollectiveLedger {
  padding-top: 3rem;
}

.CollectiveLedger-title {
  font-size: 1.5rem;
}

.CollectiveLedgerAvailableFunds .Currency {
  float: right;
}

.CollectivePendingExpenses-list:hover {
  cursor: pointer;
}

/* INTRO / WHO WE ARE */
.CollectiveIntro::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(#fff, var(--light-gray));
}

.CollectiveIntro-container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.CollectiveIntro--no-logo {
  padding-top: 13.5rem;
  background-image: url('/public/images/collectives/logo-placeholder.png');
  background-size: 41.3125rem 26.1875rem; /* 661 x 419 */
  background-position: 50% 0;
}

.CollectiveIntro-logo {
  height: 100px;
}

.CollectiveIntro-title {
  font-size: 2.25rem;
}

.CollectiveIntro-website {
  color: var(--light-blue);
  font-size: 1rem;
}

.Collective-markdown img {
  max-width: 100%;
  margin: 1rem 0;
}

.Collective-markdown .video {
  text-align: center;
  iframe {
    border: none;
    max-width: 100%;
  }
}

.Collective-markdown .ContentEditable {
  max-width: 788px;
  margin: 0 auto;
}

.Tiers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.Tier {
  max-width: 380px;
  margin: 20px;
}

.Tier-container {
  border-radius: 8px;
  padding: 0px 10px 20px;
  border: 2px solid var(--green);
}

.Tier-title {
  margin-top: -1em;
}

.Tier-description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(1.6rem * 3);
}

.Button {
    display: inline-block;
    margin: auto;
    min-width: 70%;
  /* font-weight: bold; */
  /* padding: 0.75rem 1rem; */
  /* font-size: 1rem; */
}

/* MEMBERS WALL */
.CollectiveMembers {
  padding: 4rem 0 3rem;
}
.CollectiveMembers::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15rem;
}


/* EXPENSES AND DONATIONS */
.Collective-transactions {
}

.Collective-emptyState {
  vertical-align: top;
  line-height: 1.3;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Collective-emptyState-image {
  height: 151px;
}

/* .Collective-transactions-list { */
/*   position: relative; */
/* } */

/* .Collective-transactions-list::after { */
/*   content: ''; */
/*   position: absolute; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   height: 50%; */
/*   background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); */
/* } */



/* DONATION FLOW */
section#donate {
  background-color: #f5f6f7;
  background-color: rgba(245,246,247,.98);
}

.CollectiveDonationFlowWrapper {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    padding-bottom: 10rem;
  }
}

.Collective .CollectiveDonationFlowWrapper {
  overflow: scroll;
  align-items: baseline;
}

.CollectiveSignup-title {
  font-size: 2.25rem;
}

.CollectiveSignup {
  .Field {
    width: 100%;
    font-size: 15px;
    height: 40px;
    margin: 0 0 0.5rem 0;
    padding: 0 .5rem;
    padding-left: 32px;
    border: 1px solid rgba(48, 50, 51, .15);
    background: white;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    color: var(--darkest-gray);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 9px center;
  }
  .-name {
    .Field {
      background-image: url(/public/images/user-icon.svg);
    }
  }
  .-website {
    .Field {
      background-image: url(/public/images/link-icon.svg);
    }
  }
  .-twitter {
    .Field {
      background-size: 20px;
      background-position: 8px center;
      background-image: url(/public/images/twitter-icon.svg);
    }
  }
}
.CollectiveSignup .Field:hover,
.CollectiveSignup .Field:hover::-webkit-input-placeholder {
  border-color: #75CC1F;
  color: currentColor;
}
.CollectiveSignup .Field:focus {
  border-color: #75CC1F;
  box-shadow: 0 0 0 1px #75CC1F;
  color: currentColor;
}

.CollectiveThanks-icon {
  fill: #5CAAE2;
  color: #75CC1F;
}

.Collective
{
  h2 {
    color: var(--h2-color);
  }
  .Notification {
    top: 0;
  }
  .Button .Icon
  {
    display: none;
  }
  .Collective-quoteText ul {
    list-style: none;
    padding: 0;
  }
  .GithubContributors {
    text-align: center;
  }
}

.tweet {
  margin: 20px 0px;
  textarea {
    width: 100%;
    max-width: 600px;
    height: 5rem;
    font-size: 1rem;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}

.PublicFooter {
  margin-top: 20px;
}

section {
  padding: 1rem;
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

section:nth-child(odd) {
  background-color:var(--light-gray);
}

section h1 {
  text-align: center;
  color: #494b4d;
  font-family: Montserrat,sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

section .subtitle {
  text-align: center;
  color: var(--dark-gray);
  font-size: 22px;
  font-size: 1.065rem;
  line-height: 1.5;
  margin: 0 auto;
  padding-bottom: 1rem;
  max-width: 48rem;
  font-weight: normal;
}

.DonateDisclaimer {
  max-width: 360px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #808080;
  margin: 10px auto 0px;
}


@media (max-width: 700px) {
  .CollectiveDonationFlowWrapper {
    overflow: scroll;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    & > div {
      padding-bottom: 1rem;
      max-width: 600px;
    }
  }  
}