.Discover {
  background-color: #f5f6f7;
  .LoginTopBar {
    background-color: #fff;
  }
  .Discover-container {
    padding-bottom: 40px;
    .Discover-hero {
      position: relative;
      width: 100%;
      height: 560px;
      background-image: linear-gradient(to bottom, #09062f, #116ca2);
      .Discover-hero-cover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(/static/images/discover-bg.svg);
        padding: 0 15px;
        .Discover-hero-line1 {
          margin: auto;
          margin-top: 190px;
          font-family: Montserrat;
          font-size: 40px;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          letter-spacing: -.5px;
        }
        .Discover-hero-line2 {
          margin: auto;
          margin-top: 15px;
          height: 29px;
          font-family: montserratlight;
          font-size: 24px;
          color: #ffffff;
          letter-spacing: -.5px;
          text-align: center;
        }
        .Discover-hero-actions {
          z-index: 9;
          position: absolute;
          bottom: 70px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          .DiscoverSelect {
            margin-right: 40px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .Discover-results {
      text-align: center;
      min-height: 200px;
      margin-top: -60px;
    }
  }
}

@media (max-width: 700px) {
  .Discover .Discover-container .Discover-hero .Discover-hero-cover {
    .Discover-hero-line1 {
      font-size: 30px;
      margin-top: 100px;
    }

    .Discover-hero-line2 {
      font-size: 20px;
    }

    .Discover-hero-actions {
      bottom: 200px;
      .DiscoverSelect {
        text-align: left;
      }
    }
  }
}