.Discover {
  background-color: #f5f6f7;
  .LoginTopBar {
    background-color: #fff;
  }
  .Discover-container {
    .Discover-hero {
      position: relative;
      width: 100%;
      height: 560px;
      background-image: linear-gradient(to bottom, #09062f, #116ca2);
      .Discover-hero-cover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url(/static/images/discover-bg.svg);
        .Discover-hero-line1 {
          margin: auto;
          margin-top: 190px;
          width: 832px;
          height: 48px;
          font-family: Montserrat;
          font-size: 40px;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          letter-spacing: -.5px;
        }
        .Discover-hero-line2 {
          margin: auto;
          margin-top: 15px;
          width: 386px;
          height: 29px;
          font-family: montserratlight;
          font-size: 24px;
          color: #ffffff;
          letter-spacing: -.5px;
        }
        .Discover-hero-actions {
          width: 280px;
          height:30px; 
          background-color: red;
          margin: auto;
          margin-top:160px;
        }
      }
    }
    .Discover-results {
      width: 100%;
      min-height: 200px;
      background-color: green;
      opacity: .4;
      margin-top: -50px;
    }
  }
}