.DonatePage {
  .DonatePage-logo {
    width: 152px;
    height: 152px;
    background-image: url(../images/rocket.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
    background-size: contain;
  }
  .DonatePage-line1, .DonatePage-line2 {
    max-width: 900px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.27;
    letter-spacing: -0.5px;
    text-align: center;
    color: #303233;
    margin: auto;
    margin-bottom: 10px;
  }
  .DonatePage-line3 {
    display: inline-block;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.1px;
    text-align: center;
    color: #75cc1f;
    margin: auto;
    margin-bottom: 40px;
    min-width: 129px;
    min-height: 30px;
    border-radius: 100px;
    border: solid 2px #75cc1f;
    line-height: 3;
    padding: 0 15px;
    a {
      color: #75cc1f;
    }
    &:hover {
      opacity: .8;
    }
  }
  .Tier-description {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.62;
    text-align: center;
    color: #67676f;
    padding: 0 15px;
  }
  .buttonsRow {
    overflow: hidden;
  }
  .button-container {
    text-align: center;
    margin: 20px auto;
    margin-top: 40px;
  }
  .DonatePage-donation-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    .Button {
      border-radius: 28px !important;
      text-transform: uppercase;
      min-width: 280px;
      box-sizing: border-box;
      float: none;
      margin: 0 auto;
    }
    .PublicGroupForm-disclaimer {
      max-width: 360px;
      font-family: Lato;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.9;
      text-align: center;
      color: #808080;
      margin: auto;
    }
  }
  .PublicFooter {
    margin-top: 60px;
  }
  .pb20px {
    padding-bottom: 20px;
  }
}


@media (max-width: 700px) {
  .Page {
    .Page-container {
      margin: 0 auto;
    }
    .DonatePage-line1, .DonatePage-line2 {
      font-size: 14px;
    }
  }
}
