.EditCollective {
  box-sizing: border-box;
  padding: 110px 0 70px 0;
  background-color: rgb(89, 89, 89);
  background-image: linear-gradient(45deg, rgb(86, 86, 86) 25%, transparent 25%, transparent 75%, rgb(86, 86, 86) 75%, rgb(86, 86, 86)), 
                    linear-gradient(45deg, rgb(86, 86, 86) 25%, transparent 25%, transparent 75%, rgb(86, 86, 86) 75%, rgb(86, 86, 86));
  background-position: 0 0, 12px 12px;
  background-size: 24px 24px;
  min-height: 100%;
  .-vspacer {
    width: 80px;
    min-height: 20px;
  }
  .-hspacer {
    height: 80px;
  }
}

.EditCollective-TopBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 99999;
  padding: 19px 70px 0px;
  box-sizing: border-box;
  .EditCollective-TopBar-brand {
    display: inline-block;
  } 
  .EditCollective-TopBar-buttons {
    display: inline-block;
    float: right;
    .EditCollective-TopBar-Button {
      margin-left: 20px;
      box-sizing: border-box;
      display: inline-block;
      width: 115px;
      height: 28px;
      border-radius: 100px;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      line-height: 2;
      &:not(.trans) {
        background-color: #75cc1f;
        border: solid 2px #75cc1f;
      }
      &.trans {
        opacity: 0.6;
        border-radius: 100px;
        border: solid 2px #ffffff;
      }
      &:hover {
        opacity: .9;
        cursor: pointer;
      }
    }
  }
}

.EditCollective-Viewport {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  min-height: 100px;
  overflow: hidden;
  margin: 0px 70px;
  .PublicFooter {
    margin-top: 0;
  }
  .-screen {
    user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), 
                linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
  }
}

.EditCollective-EditButton {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-image: url('/static/images/edit-circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  &.EditButton--Text {
    background-image: url('/static/images/edit-circle.svg');
  }
  &.EditButton--Upload {
    background-image: url('/static/images/upload-circle.svg');
  }
  &.EditButton--Image {
    background-image: url('/static/images/photo-circle.svg');
  }
  &.EditButton--Link {
    background-image: url('/static/images/link-circle.svg');
  }
}

.EditCollective-Highlight {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  &.-active, &:active {
    &::before {
      content: '';
      background-color: rgba(0,0,0,.3);
      position: absolute;
      bottom: 100%;
      z-index: 99;
      left: 0;
      right: 0;
      top: -9999%;
    }
    &::after {
      content: '';
      background-color: rgba(0,0,0,.3);
      position: absolute;
      z-index: 99;
      left: 0;
      right: 0;
      top: 100%;
      bottom: -9999%;
    }
  }
  &:hover {
    .EditCollective-EditButton .EditCollective-EditButtonLabel {
      opacity: 1;
    }
  }
  .EditCollective-EditButton {
    right: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    .EditCollective-EditButtonLabel {
      user-select: none;
      white-space: pre;
      opacity: 0;
      position: absolute;
      top: -3px;
      right: 140%;
      line-height: 2.5;
      text-align: center;
      padding: 0 10px;
      height: 35px;
      border-radius: 5px;
      background-color: #3b3b3b;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
      border: solid 1px #979797;
      font-family: Montserrat;
      font-size: 14px;
      color: #ffffff;
    }
  }
}

.EditCollective-Overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(45, 45, 45, 0.8);
  z-index: 99999;
  .EditCollective-Overlay-Close {}
}

.EditCollective-Modal {
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(45, 77, 97, 0.2);
  height: 400px;
  min-width: 100px;
  max-width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  .OnBoardingButton {
    margin-top: 40px;
    width: 100%;
  }
  .Input {
    input {
      margin: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      overflow: auto;
      font-family: Lato;
      font-size: 16px;
      color: #667985;
      border: none;
      letter-spacing: .5px;
    }
  }
  .EditCollective-Modal-title {
    text-transform: capitalize;
    padding: 20px;
    background-color: #393939;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    .-close {
      position: absolute;
      right: 20px;
      top: 20px;
      color: #5f5f5f;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
  .EditCollective-Modal-body {
    padding: 40px;
    text-align: center;
    background-color: #f5f6f7;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .EditCollective-Modal-buttons {
    text-align: center;
    height: 40px;
    width: 100%;
    .EditCollective-Modal-Button {
      margin-left: 20px;
      box-sizing: border-box;
      display: inline-block;
      width: 115px;
      height: 28px;
      border-radius: 100px;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      line-height: 2;
      &:not(.trans) {
        background-color: #75cc1f;
        border: solid 2px #75cc1f;
      }
      &.trans {
        opacity: 0.6;
        border-radius: 100px;
        border: solid 2px #ffffff;
      }
      &:hover {
        opacity: .9;
        cursor: pointer;
      }
    }
  }
}
