.HomePage {
  background-image: url(../images/homepage-bg.svg);
  background-position: center 0;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  height: 100%;
  section {
    padding-bottom: 64px;
    padding-top: 64px;
    position: relative;
    &.blue-gradient {
      background-image: linear-gradient(to bottom, #ffffff, #f2faff);
    }
    a.seemore {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      color: #75cc1f;
      margin: 20px;
      text-decoration: underline;
    }
    .color-blue {
      color: #46b0ed;
    }
    .color-green {
      color: #75cc1f;
    }
    .heading, .subheading {
      font-family: montserratlight, sans-serif;
      margin: auto;
      text-align: center;
      padding: 0 15px;
    }
    .heading {
      font-size: 32px;
      color: #303233;
    }
    .subheading {
      font-size: 20px;
      color: #787d80;
    }
    .cards {
      position: relative;
      margin: 100px auto;
      text-align: center;
      max-width: 1200px;
    }
    .cta {
      position: absolute;
      z-index: 1;
      min-width: 250px;
      min-height: 50px;
      left: 0;
      right: 0;
      bottom: -20px;
      margin: auto;
      text-align: center;
      .text {
        height: 40px;
        font-family: Lato;
        font-size: 20px;
        font-weight: normal;
        line-height: 1;
        text-align: center;
        color: #787d80;
      }
      a {
        text-decoration: none;
      }
      .button {
        display: inline-block;
        width: 325px;
        height: 40px;
        border-radius: 63px;
        background-color: #fff;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.11);
        text-transform: uppercase;
        margin: auto;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 2.6;
        &:hover {
          cursor: pointer;
          background-color: #fdfdfd;
        }
        &:active {
          box-shadow: -2px 1px 4px 0 rgba(0, 0, 0, 0.11);
        }
      }
    }
  }
  .HomePageHero {
    background-image: linear-gradient(from 200px to bottom, rgba(247, 252, 255, 0), #ffffff);
    padding-top: 150px;
    .title, .subtitle, .heading {
      text-align: center;
      margin: auto;
    }
    .title {
      font-size: 70px;
      color: #303233;
      line-height: 1.3;
    }
    .subtitle {
      text-transform: uppercase;
      height: 20px;
      font-size: 16px;
      font-weight: bold;
      color: #515f71;
    }
    .heading {
      margin-top: 156px;
      font-size: 32px;
      color: #46b0ed;
    }
  }
  .HomePageInfo {
    padding-top: 100px;
    .icons-container {
      width: 100%;
      margin-top: 100px;
      margin-bottom: 0px;
      font-family: montserratlight, sans-serif;
      text-align: center;
      background-repeat: no-repeat;
      background-position: center;
      .-graphic {
        width: 140px;
        height: 100%;
        line-height: 190px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        &.-tghost {
          background-image: url(../images/transparency-ghost.svg);
        }
        &.-oc {
          background-image: url(../images/oc-icon.svg);
        }
        &.-fluid {
          background-image: url(../images/fluid-icon.svg);
        }
      }
      .-heading {
        color: #303233;
        font-size: 24px;
      }
      .-description {
        color: #787d80;
        font-size: 16px;
        font-family: Lato, sans-serif;
      }
    }
  }
  .HomePageOpenSource {
    padding-top: 100px;
  }
  .HomePageMeetups {
    padding-top: 100px;
  }
  .HomePageNumber {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: montserratlight, sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    .numbers-container {
      padding: 70px 50px 90px 50px;
      .clearfix {
        max-width: 960px;
        margin: auto;
      }
      .-graphic {
        width: 100%;
        height: 100%;
        line-height: 190px;
        background-position: center;
        background-size: 140px;
        background-repeat: no-repeat;
        margin: auto;
        &.-tghost {
          background-image: url(../images/home-oc-icon.svg);
        }
        &.-oc {
          background-image: url(../images/home-backers.svg);
        }
        &.-fluid {
          background-image: url(../images/home-money.svg);
        }
        .-value {
          text-align: center;
          color: #46b0ed;
          font-size: 60px;
          background-color: rgba(240,240,220, 0);
          width: 100%;
        }
      }
      .-heading {
        margin-top: -20px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #787d80;
      }
    }
  }
}

@media (min-width: 833px) {
  .icons-container {
    background-image: url(../images/dotted-line.svg);
  }
}

@media (max-width: 512px) {
  .numbers-container .col,
  .icons-container .col {
    float: none;
  }
  .HomePageHero .title svg {
    width: 300px;
    height: 45px;
  }
}

@media (min-width: 513px) and (max-width: 46em) {
  .numbers-container .col {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .CollectiveCardStub { width: 300px; }
  .HomePage---Hero {
    .title {
      font-size: 32px;
    }
  }
}

@media (max-width: 1200px) {
  .HomePage section .cards a {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -10px;
  }
}
