.Leaderboard-header {

}

.Leaderboard-table {
  text-align: center;
}

td {
  padding: 0.5rem 1rem 0rem 1rem;
}

.Leaderboard-data {
  margin: 0px auto 1rem auto;
}

.Leaderboard-header-row {
  font-weight: bold;
  border-bottom: 1px solid gray;
  text-align: center;
}

.Leaderboard-group-name {
  text-align: left;
  border-right: 1px solid gray;
  min-width: 100px;
}

.Leaderboard-header-row .Leaderboard-group-name {
  text-align: center;
}

.Leaderboard-group-logo {
  height: 40px;
  width: 40px;
}

.Leaderboard-donations {
  border-right: 1px solid gray;
  width: 75px;
}

.Leaderboard-amount {
  border-right: 1px solid gray;
  width: 95px;
}

.Leaderboard-last {
  width: 105px;
}

.Leaderboard-info {
  font-size: 0.9rem;
}