.LearnMore {
  background-color: #fff;
  .LoginTopBar { background-color: #fff; }
  .PublicFooter { margin-top: 0; }
  section {
    box-sizing: border-box;
    /* Fix: section is affected by external rules */
    background-color: #fff;
    padding: 0;
    padding: 0 20px;
  }
  .-faded { opacity: 0.5; }
  .-img {
    display: inline-block;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    width: 100%;
  }
}

/* Common Typography */

.LearnMoreHeader {
  font-family: montserratlight;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  color: #303233;
}

.LearnMoreSubHeader {
  font-family: montserratlight;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.94;
  letter-spacing: normal;
  color: rgba(73, 75, 77, 0.5);
}

.LearnMoreLead {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  color: #494b4d;
}

.LearnMoreSubLead {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.44;
  text-align: center;
  color: #787d80;
  margin-bottom: 20px;
}

.LearnMoreText {
  font-family: montserratlight;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.94;
  letter-spacing: normal;
  color: #494b4d;
}

/* Common Wrappers */

.Wrap520 {
  max-width: 520px;
  margin: 0 auto;
}
.Wrap900 {
  max-width: 900px;
  margin: 0 auto;
}
.Wrap1000 {
  max-width: 1080px;
  margin: 0 auto;
}

/* Sections */

.LearnMore-Section1 {
  position: relative;
  text-align: center;
  margin-bottom: 120px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  background-image: url(../images/bg-people-image.png);
  background-size: cover;
  background-position: center;
  padding-top: 80px !important;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100px;
    background-image: linear-gradient(to right, #3023ae, #53a0fe 48%, #b4ed50);
    opacity: .1;
    z-index: 0;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    z-index: 1;
  }
  .-img {
    position: relative;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 850px;
    height: 480px;
    &:after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
      bottom: 20px;
      z-index: 3;
      background-image: url(../images/learn-screen.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.LearnMore-Section2 {
  position: relative;
  text-align: center;
  padding-bottom: 180px !important;
  .LearnMoreSubLead, .LearnMoreLead {
    position: relative;
  }
  .LearnMoreHeader {
    text-align: center;
    margin-bottom: 100px;
  }
  .LearnMoreLead { margin-bottom: 20px; }
  .-img {
    position: relative;
    margin: 0 auto;
    max-width: 1078px;
    height: 570px;
    background-image: url(../images/ledger-screen.png);
  }
  .Column:first-child { padding-right: 50px; }
  .Column:last-child { padding-left: 50px; }
  .-bg {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 595px;
    background-color: #eef4f8;
  }
}

.LearnMore-Section3 {
  padding-bottom: 80px !important;
  background-color: #eef4f8 !important;
  .LearnMoreHeader {
    text-align: left;
    margin-top: 200px;
  }
  .-img {
    max-width: 256px;
    height: 513px;
    /* object-fit: contain; */
    display: block;
    background-image: url(../images/learn-phone.png);
    margin-left: auto;
  }
}

.LearnMore-Section4 {
  background-color: #eef4f8 !important;
  padding-bottom: 180px !important;
  .LearnMoreHeader { margin-top: 100px; }
  .Column:first-child {
    float: right;
  }
  .-img {
    max-width: 490px;
    height: 440px;
    background-image: url(../images/approve-or-reject-screen.png);
    display: block;
    margin-right: auto;
  }
}

.LearnMore-Section5 {
  text-align: center;
  background-image: linear-gradient(to bottom, #eef4f8, #ffffff);
  .-img {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background-image: url(../images/bg-request-money.png);
  }
}

.LearnMore-Section6 {
  text-align: center;
  margin-top: 180px;
  .LearnMoreText { margin-bottom: 70px; }
  .Column:first-child { padding-right: 50px; }
  .Column:last-child { padding-left: 50px; }
  .-img {
    position: relative;
    max-width: 440px;
    height: 450px;
    background-image: url(../images/bg-people.png);
    background-position: top;
    .-img2 {
      position: absolute;
      bottom: -80px;
      left: -40px;
      right: -40px;
      background-image: url(../images/donation-card-1.png);
      width: 520px;
      height: 380px;
      background-size: cover;
    }
  }
  .-img.-sponsor {
    background-image: url(../images/bg-brands.png);
    .-img2 {
      background-image: url(../images/donation-card-2.png);
    }
  }
}

.LearnMore-Section7 {
  margin-top: 180px;
  .LearnMoreHeader {
    margin-top: 240px;
    max-width: 440px;
  }
  .-img {
    max-width: 396px;
    height: 525px;
    background-image: url(../images/pdf.png);
    margin-left: auto;
  }
}

.LearnMore-Section8 {
  position: relative;
  margin-top: 180px;
  text-align: center;
  .LearnMoreText {
    max-width: 370px;
    margin: 0 auto;
  }
  .-img {
    position: relative;
    margin-top: 40px;
    display: inline-block;
    max-width: 1034px;
    height: 344px;
    background-image: url(../images/backers.png);
    margin-left: auto;
    z-index: 1;
  }
  .-info {
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    text-align: right;
    color: rgba(57, 58, 60, 0.5);
  }
  .-bg {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 330px;
    background-color: #eef4f8;
  }
  .Wrap900 { position: relative; z-index: 1; }
}

.LearnMore-Section9 {
  padding-top: 180px !important;
  text-align: center;
  background-color: #eef4f8 !important;
  .-img {
    margin-top: 80px;
    display: inline-block;
    max-width: 515px;
    height: 348px;
    background-image: url(../images/bg-download.png);
  }
}

.LearnMore-SectionA {
  background-color: #eef4f8 !important;
  padding-top: 180px !important;
  padding-bottom: 180px !important;
  text-align: center;
  .-img {
    margin-top: 50px;
    display: inline-block;
    width: 220px; 
    height: 220px;
    background-image: url(../images/logo-heart.png);
  }
}

.LearnMore-SectionB {
  text-align: center;
  padding-top: 140px !important;
  background-color: #303233 !important;
  background-image: url(../images/bg-learn-more-footer.png);
  background-size: cover;
  background-position: center 10px;
  width: 100%;
  height: 450px;
  .LearnMoreHeader {
    color: #fff;
  }
  .LearnMoreText {
    color: #fff;
    margin-bottom: 40px;
  }
  .Button {
    max-width: 280px;
    padding: 12px 48px;
    display: inline;

  }
  .Button:last-child {
    margin-top: 40px;
    background: transparent;
    border: 2px solid #80d823;
    &:hover {
      opacity: .8;
    }
  }
}

/* Responsiveness */

@media (max-width: 900px) {
  .LearnMoreHeader {
    font-size: 28px;
    line-height: 1.54;
  }
  .LearnMore-Section6 {
    margin-top: 80px;
    .Column {
      width: 100% !important;
      padding: 0 !important;
      margin-bottom: 140px;
    }
  }
  .LearnMore-Section7 { margin-top: 80px; }
}

@media (max-width: 800px) {
  .LearnMoreText {
    max-width: 400px;
    margin: 0 auto;
  }
  .LearnMore-Section1 {
    margin-bottom: 20px;
    .-img { height: 380px; }
  }
  .LearnMore-Section2 {
     padding-bottom: 80px !important;
    .LearnMoreHeader {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .LearnMoreSubLead {
      max-width: 345px;
      margin: 0 auto;
    }
    .Grid .Column {
      width: 100% !important;
      padding: 0 !important;
    }
    .-img { display: none; }
    .-img-1, .-img-2 {
      position: relative;
      max-width: 345px;
      height: 500px;
      margin: 0 auto;
      margin-top: 35px;
      background-size: cover;
    }
    .-img-1 {
      background-image: url(../images/bg-ledger-screen-1.png);
      margin-bottom: 90px;
    }
    .-img-2 {
      max-width: 385px;
      background-image: url(../images/bg-ledger-screen-2.png);
    }
  }
  .LearnMore-Section3 {
    text-align: center;
    .LearnMoreHeader {
      margin-top: 0;
      text-align: center;
    }
    .Column.Column-7 {
      width: 100% !important;
    }
    .Column.Column-5 {
      width: 100% !important;
    }
    .-img {
      margin-top: 40px;
    }
  }
  .LearnMore-Section4 {
    text-align: center;
    padding-bottom: 80px !important;
    .LearnMoreHeader { margin-top: 0; }
    .Column:first-child { float: none; }
    .Column { width: 100% !important; }
    .-img {
      margin: 0 auto;
      margin-top: 30px;
      background-image: url(../images/approve-or-reject-screen-sm.png);
    }
  }
  .LearnMore-Section7 {
    text-align: center;
    margin-top: 60px;
    .LearnMoreHeader {
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .Column { width: 100% !important; }
  }
  .LearnMore-Section8 {
    margin-top: 60px;
    .-img {
      margin-top: 0;
      background-image: url(../images/backers-sm.png);
    }
    .-info { text-align: center; }
  }
  .LearnMore-Section9 {
    padding-top: 60px !important;
    .-img { margin-top: 0 !important; }
  }
  .LearnMore-SectionA {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .LearnMore-SectionB {
    padding-top: 50px !important;
    height: 500px;
    .Button {
      max-width: 100%;
      padding: 12px 48px;
      display: inline-block;
    }
  }
}
@media (max-width: 600px) {
  .LearnMore-Section1 .-img {
    height: 300px;
    &:after {
      background-size: contain;
    }
  }
}
@media (max-width: 400px) {
  .LearnMore-Section1 .-img { height: 200px; }
}