.Login {
  background-color: rgb(240,245,248);
  .LoginTopBar {
    background-color: #fff;
  }
  .Login-container {
    .Login-box {
      margin-left: 3rem;
      max-width: 600px;
      height: 100%;
      margin: auto;
      padding: 60px;
    }
  }
  .PublicFooter {

  }
}

.Login-form {
  max-width: var(--max-form-width);
  margin: 1rem auto;
}

.Login-logo {
  max-width: var(--max-form-width);
  margin: 2rem auto 0 auto;
}

.Login-quote {
  text-align: center;
  padding: var(--spacing) 0;
}

.Login-quote h2 {
  color: var(--dark-gray);
  text-align: left;
}

.Login .Field{
  width: 100%;
  box-sizing: border-box;
}

.Login-buttonContainter {
  text-align: center;
}
