.NewCollective {
  padding: 20px;
  .NewCollective-question {
    margin: 20px 0 10px 0;
    label {
      margin: 20px 0 10px 0;
    }
  }
  .CollectiveTypeBtns {
    overflow: hidden;
    width: 700px;
  }
  .CollectiveTypeBtn {
    float: left;
    margin: 10px;
    width: 150px;
    height: 100px;
    border: none;
    border-radius: 10px;
    outline:none;
    color: white;
    background: rgb(183,210,245);
    &.selected {
      background: rgb(63,175,240);
      color: white;
    }
  }
  .CustomTextArea {
    width: 30rem;
  }
}