.NewGroup {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  .host {
    h2 {
      margin-bottom: -30px;
      color: var(--dark-gray);
    }
  }
  .NewGroup-question {
    margin: 20px 0 10px 0;
    label {
      margin: 20px 0 10px 0;
    }
  }
  .GroupTypeBtns {
    overflow: hidden;
    width: 100%;
    max-width: 700px;
  }
  .GroupTypeBtn {
    float: left;
    margin: 10px 10px 10px 0px;
    width: 150px;
    height: 100px;
    border: none;
    border-radius: 10px;
    outline:none;
    color: white;
    background: rgb(183,210,245);
    &.selected {
      background: rgb(63,175,240);
      color: white;
    }
  }
  .CustomTextArea {
    width: 100%;
    max-width: 35rem;
  }
  .NewGroup-slug {
    .validationError {
      color:red;
      padding-left: 208px;
    }
  }
  .AddGroup-Button {
    margin-top: 30px;
  }
}