/* So .OnBoarding can have 100% height */
#content
{
  height: 100%; 
}

/**
* Container
*/

.OnBoarding
{
  font-family: Montserrat-Bold, sans-serif;
  background-image: url(../images/onboarding-bg.svg);
  background-repeat: no-repeat;
  background-position: center 30px;
  background-size: 840px 600px;
  min-height: 100%;

  &.-registering
  {
    background-image: none;
    background-color: #f5f6f7;
  }
}

/**
* Components
*/

.OnBoardingHeader
{
  padding: 30px;

  .-brand
  {
    display: inline-block;
  }

  .-nav
  {
    float: right;

    a 
    {
      padding: 8px 20px;
      font-size: 11px;
      text-transform: uppercase;
      color: #aab0b3;
      letter-spacing: 1px;
      font-weight: bold;
    }

    a:first-child
    {
      border: 2px solid #aab0b3;
      border-radius: 100px;
    }

    a:nth-child(2)
    {
      color: #919699;
      font-size: 12px;
    }

    img
    {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 10px;
      border-radius: 100%;
      overflow: hidden;
    }

    span
    {
      color: white;
      font-family: Lato;
      font-weight: bold;
      letter-spacing: .5px;
      vertical-align: middle;
    }
  }
}

.OnBoardingStepHeading
{
  font-size: 28px;
  font-weight: bold;
  color: #494b4d;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;  
  strong
  {
    color: #919699;
    letter-spacing: 1px;
  }
  div:nth-child(2)
  {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    width: 605px;
    font-size: 15px;
    line-height: 1.8;
    color: #616466;
    font-family: Lato, sans-serif;
    font-weight: lighter;
  }
}

.OnBoardingStepButton
{
  color: white;
}

/**
* Step components
*/

.OnBoardingHero
{
  margin-top: 160px;

  .-title
  {
    font-size: 46px;
    font-weight: bold;
    color: #494b4d;
    width: 768px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -1px;

    strong
    {
      color: #46b0ed;
    }
  }

  .-subtitle
  {
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    width: 768px;
    font-size: 21px;
    color: #616466;
    font-family: Montserratlight, sans-serif;
    font-weight: lighter;
  }

  .-button-container
  {
    width: 310px;
    height: 56px;
    border-radius: 100px;
    /*background-color: #75cc1f;*/
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
  }

  .-requirements
  {
    font-family: Lato;
    color: #797d80;
    font-size: 14px;
    width: 310px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.OnBoardingStepConnectGithub
{
  margin: 0 auto;
  margin-top: 220px;
  width: 768px;
}

.OnBoardingStepPickRepository
{
  margin: 0 auto;
  width: 768px; 
}

.OnBoardingStepPickCoreContributors
{
  margin: 0 auto;
  width: 768px; 
}

.OnBoardingStepCreate
{
  .OnBoardingStepCreate-form-container
  {
    width: 660px;
    margin: 0 auto;
    margin-top: 60px;

    .flex-column
    {
      margin-right: 20px;
    }

    .OnBoardingStepCreate-label
    {
      font-family: Lato;
      font-weight: bold;
      font-size: 15px;
      color: #797d80;
      padding-bottom: 10px;
    }

    .OnBoardingStepCreate-tos
    {
      margin-top: 10px;
      font-family: Lato;
      font-size: 15px;
      font-weight: bold;

      .Checkbox, span
      {
        vertical-align: middle;
      }

      span
      {
        margin-left: 5px;
        color: #aab0b3;
      }
    }
  }
}

.OnBoarding
{
  .ImagePicker-container
  {
    width: 250px;
    height: 230px;

    .ImagePicker-label
    {
      font-weight: bold;
      font-family: Lato;
      font-size: 16px;
      line-height: 1.3;
      color: #797d80;
      width: 200px;
    }
    
    .ImagePicker-dot-list
    {
      bottom: 30px;

      li:after
      {
        width: 12px;
        height: 12px;
      }
    }

    .ImagePicker-loader > div
    {
      margin: 105px auto;
      font-size: 20px;
    }

    .ImagePicker-preview
    {
      width: 100px;
      height: 100px;
      background: none;
      
      img
      {
        width: 100px;
        height: 100px;
      }
    }
    
    .ImagePicker-next, 
    .ImagePicker-prev 
    {
      height: 18px;
    }
  }
}

.OnBoardingButton
{
  font-family: Montserrat;
  outline: 0;
  background-color: #75cc1f;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  padding: 8px 16px;
  height: auto;
  vertical-align: middle;
  -webkit-appearance: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 19.2px 64px;
  border-radius: 28px;
  text-transform: uppercase;
  min-width: 280px;
  box-sizing: border-box; 
  letter-spacing: 1px;

  &:hover
  {
    opacity: .8;
  }
}