.ProfilePage {
  font-family: Montserrat-Light, sans-serif;
  background-image: url(../images/onboarding-bg.svg);
  background-repeat: no-repeat;
  background-position: center -88px;
  background-size: 800px 600px;

  .LoginTopBar {
    margin-bottom: 50px;
  }

  .OnBoardingHeader {
    margin-bottom: 30px;
  }

  .UserPhoto {
    width: 128px;
    width: 8rem;
    height: 128px;
    height: 8rem;
    background-color: white;
  }

  .ImagePicker-container {
    width: 150px;
    height: 110px;
    margin: 0 auto 30px;
    border-radius: 100%;
    box-shadow: none;
    .ImagePicker-loader {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      top: 5px;
      left: 25px;
      > div {
        margin: 45px auto;
      }
    }
    .ImagePicker-preview, .ImagePicker-preview img {
      width: 100px;
      height: 100px;
    }
    .ImagePicker-editControl {
      display: none;
      &.ImagePicker-prev {
        left: 5px;
      }
      &.ImagePicker-next {
        right: 5px;
      }
    }
    .ImagePicker-dot-list {
      bottom: -10px;
    }

    .ImagePicker-label {
      display: none;
    }

    &:hover {
      .ImagePicker-editControl {
        display: block;
      }
    }
  }

  .PublicFooter {
    margin-top: 0;
  }

  .line1 {
    text-align: center;
    margin-top: 20px;
    color: #494b4d;
  }

  .line2 {
    font-size: 28px;
    color: #494b4d;
    text-align: center
  }

  .line3 {
    padding: 0 15px;
    font-family: 'Lato';
    font-size: 15px;
    line-height: 1.8;
    color: #494b4d;
    text-align: center;
    max-width: 700px;
    margin: 16px auto 80px auto;
  }

  .longDescription {
    text-align: left;
    h1, h2, h3 {
      color: #494b4d;
    }
  }

  section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 72px;
    text-align: center;
  }

  section:first-child() {
    margin-top: 80px;
  }

  section::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 76px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: #46b0ed;
  }

  .lineA {
    font-size: 22px;
    color: #494b4d;
    text-align: center;margin-bottom: 40px;
    letter-spacing: 1px;
    padding: 0 15px;
  }

  .Profile-apply {
    margin-top: -80px;
    background-image: linear-gradient(to bottom, #09062f, #116ca2);
    padding-top: 130px;
    padding-bottom: 80px;
    .Profile-apply-container {
      width: 560px;
      margin: 0 auto;
      .Profile-apply-label {
        width: auto;
        color: white;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 20px;
        text-align: left;
        padding: 0 15px;
      }
      .Profile-apply-md-container {
        width: 100%;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75;
        color: #ffffff;
        padding: 0 15px;
      }
      .Profile-apply-button {
        width: 280px;
        height: 40px;
        border-radius: 100px;
        border: solid 2px #75cc1f;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-align: center;
        color: #ffffff;
        line-height: 3.5;
        text-transform: uppercase;
        margin: 40px auto 0 auto;
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

.ProfileCard {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 300px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(45, 77, 97, 0.2);
  margin: 10px;

  .ProfileCard-image {
    position: relative;
    width: 100%;
    height: 160px;
    border-radius: 5px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 36px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    }

  }

  .ProfileCard-title {
    width: 190px;
    height: 38px;
    font-family: Montserrat;
    font-size: 16px;
    color: #494b4d;
    margin: 16px auto;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    line-height: 1.25;
  }

  .ProfileCard-subtitle {
    width: 190px;
    height: 21px;
    font-size: 13px;
    line-height: 1.6;
    color: #797d80;
    margin: 5px auto;
    text-align: center;
  }

  .ProfileCard-footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 38px;
    background-color: #ffffff;
    padding: 10px;
    font-size: 11px;
    line-height: 1.6;
    color: #919699;
    border-top: 1px solid #e1e9ed;
    text-align: center;
  }
}

@media (--medium-viewport) {
  .ProfilePage {
    background-position: center -105px;
    .Profile-apply .Profile-apply-container {
      width: 100%;
    }
  }
}

@media (--small-viewport) {
  .ProfilePage {
    background-position: center -110px;
  }
}

@media (--small-viewport) {
  .ProfilePage {
    background-position: center -110px;
  }
}