/* GENERAL */
.PublicGroup {
  overflow: hidden;
  .LoginTopBar {
    margin-bottom: 20px;
  }
}

.PublicGroup-title {
  font-size: 1.75rem;
}

.PublicGroup-subtitle {
  font-size: 1.375rem;
}

.PublicGroup-font-15 {
  font-size: .9375rem;
  line-height: 1.688rem;
}

.PublicGroup-font-17 {
  font-size: 1.0625rem;
  line-height: 1.688rem;
}

.PublicGroup-font-20 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}






/* INTRO / WHO WE ARE */
.PublicGroupIntro::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(#fff, var(--light-gray));
}

.PublicGroupIntro-container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.PublicGroupIntro--no-logo {
  padding-top: 13.5rem;
  background-image: url('/static/images/collectives/logo-placeholder.png');
  background-size: 41.3125rem 26.1875rem; /* 661 x 419 */
  background-position: 50% 0;
}

.PublicGroupIntro-logo {
  height: 100px;
}

.PublicGroupIntro-title {
  font-size: 2.25rem;
}

.PublicGroupIntro-website {
  color: var(--light-blue);
  font-size: 1rem;
}

/* WHY JOIN */
.PublicGroup-image-placeholder {
  background: url('/static/images/media-placeholder.svg') no-repeat;
  background-position: center center;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: auto;
}

.PublicGroupWhyJoin {
  min-height: 400px;
}

.PublicGroup-Media-container {
  padding-bottom: 56.25%; /* 16:9 */
}

.PublicGroup-summary
{
  padding: 54px;
}

/* JOIN US */
.PublicGroupJoin-container {
  padding-top: 6.25rem;
}

.PublicGroupJoinUs-tier-box-inner {
  border-width: 2px;
  border-radius: 6px;
  padding-bottom: 30px;
}

.PublicGroupJoinUs-tier-box-title {
  margin-top: -1em;
}

.PublicGroupJoinUs-tier-box-description {
  min-height: calc(1.38rem * 3);
}

.PublicGroupJoin-container .Button {
  margin: auto;
  font-weight: normal;
  border-radius: 100px;
  min-width: 70%;
}

/* MEMBERS WALL */
.PublicGroup-MembersWall::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15rem;
}

.PublicGroupBackers {
  padding: 4rem 0 3rem;
}



/* EXPENSES AND DONATIONS */
.PublicGroup-transactions {
  padding: 6.25rem 0;
}

.PublicGroup-emptyState {
  vertical-align: top;
  line-height: 1.3;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PublicGroup-emptyState-image {
  height: 151px;
}

/* .PublicGroup-transactions-list { */
/*   position: relative; */
/* } */

/* .PublicGroup-transactions-list::after { */
/*   content: ''; */
/*   position: absolute; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   height: 50%; */
/*   background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); */
/* } */



/* DONATION FLOW */
.PublicGroupDonationFlowWrapper {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f5f6f7;
  background-color: rgba(245,246,247,.98);
}

.PublicGroupDonationFlowWrapper .pb20px
{
  padding-bottom: 20px;
}

.PublicGroupSignupV2-title {
  font-size: 2.25rem;
}

.PublicGroupSignupV2 .Field {
  width: 100%;
  font-size: 15px;
  height: 40px;
  margin: 0;
  padding: 0 .5rem;
  border: 1px solid rgba(48, 50, 51, .15);
  background: white;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
}
.PublicGroupSignupV2 .Field {
  color: var(--darkest-gray);
  padding-left: 32px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 9px center;
}
.PublicGroupSignupV2 {
  .-name {
    .Field {
      background-image: url(/static/images/user-icon.svg);
    }
  }
  .-website {
    .Field {
      background-image: url(/static/images/link-icon.svg);
    }
  }
  .-twitter {
    .Field {
      background-size: 20px;
      background-position: 8px center;
      background-image: url(/static/images/twitter-icon.svg);
    }
  }  
}
.PublicGroupSignupV2 .Field:hover,
.PublicGroupSignupV2 .Field:hover::-webkit-input-placeholder {
  border-color: #75CC1F;
  color: currentColor;
}
.PublicGroupSignupV2 .Field:focus {
  border-color: #75CC1F;
  box-shadow: 0 0 0 1px #75CC1F;
  color: currentColor;
}

.PublicGroupThanksV2-icon {
  fill: #5CAAE2;
  color: #75CC1F;
}

.PublicGroup .Notification {  
  top: 0;
}

.PublicGroupDonationFlowWrapper .Button {  
    display: inline-block;
    margin: auto;
    width: 320px;
    height: 56px;
    border-radius: 50px;
    background-color: #75cc1f;
  /* font-weight: bold; */
  /* padding: 0.75rem 1rem; */
  /* font-size: 1rem; */  
}

.PublicGroup .Button .Icon
{
  display: none;
}


.PublicGroup .PublicGroup-quoteText ul {
  list-style: none;
  padding: 0;
}

.PublicGroup
{
  h2 {
    color: #494b4d;
  }
}

.PublicGroup-os-contrib-container {
  text-align: center;
  padding: 40px 0px;
  background-color:var(--light-gray);
  .line1 {
    font-family: montserratlight;
    font-size: 22px;
    color: #4d4d4d;
  }
}

/**
* Inactive/Pending Collective
*/
.PublicGroup.PublicGroup--inactive {
  font-family: Montserrat-Light, sans-serif;

  .line1 {
    font-family: montserratlight;
    text-align: center;
    margin-top: 32px; 
    font-size: 16px;
    line-height: 1.8;
    color: #797d80;
    padding: 0 15px;
  }

  .line2 {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: -0.5px;
    color: #303233;
    max-width: 880px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 15px;
  }

  .line3 {
    text-align: center;
    max-width: 1023px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.6;
    color: #797d80;
    margin: 80px auto 0 auto;
    padding: 0 15px;
  }

  .line4 {
    font-family: montserratlight;
    text-align: center;
    max-width: 1023px;
    font-size: 18px;
    line-height: 1.6;
    color: #797d80;
    margin: 10px auto 0 auto;
    padding: 0 15px;
  }

  .line5 {
    text-align: center;
    max-width: 1080px;
    height: 33px;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    color: #494b4d;
    margin: 60px auto 0 auto;
    padding: 0 15px;
  }

  .line6 {
    text-align: center;
    max-width: 628px;
    height: 26px;
    font-family: montserratlight;
    font-size: 22px;
    color: #4d4d4d;
    margin: 10px auto 0 auto;
    padding: 0 15px;
  }

  .PublicGroup-backer-container {
    background-color: rgb(249, 251, 252);
    text-align: center;

    .-top-gradient {
      background-image: linear-gradient(to bottom, white, rgb(249, 251, 252));
      height: 50px;
    }

    .-bottom-gradient {
      background-image: linear-gradient(to top, white, rgb(249, 251, 252));
      height: 50px;
    }

    .-wrap {
      max-width: 1060px;
      margin: 0 auto;
      padding: 0 10px;
    }

    .UserCard {
      display: inline-block;
      vertical-align: middle;
      margin: 10px;
    }
  }

  .PublicGroup-contrib-container {
    .line1 {
      font-family: montserratlight;
      font-size: 22px;
      color: #4d4d4d;
      margin-top: 100px;
    }
  }

  .PublicGroup-about-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 390px;
    background-color: #494b4d;
    padding-top: 64px;
    margin-top: 100px;

    .line1 {
      text-align: center;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 28px;
      color: #ffffff;
    }

    .line2 {
      max-width: 730px;
      font-family: Lato;
      font-size: 15px;
      line-height: 1.6;
      color: #ffffff;

      b {
        font-size: 18px;
      }
    }

    .more-button {
      padding: 5px 8px;
      box-sizing: border-box;
      text-transform: uppercase;
      margin:  0 auto;
      min-width: 142px;
      min-height: 30px;
      border-radius: 100px;
      border: solid 2px #75cc1f;
      width: 79px;
      height: 12px;
      font-family: Montserrat;
      font-size: 10px;
      letter-spacing: 1px;
      color: #ffffff;
      font-weight: bold;
      margin-top: 32px;
      text-align: center;
      &:hover {
        opacity: .94;
      }
    }
  }
}

.tweet {
  margin: 20px 0px;
  textarea {
    width: 100%;
    max-width: 600px;
    height: 6rem;
  }
  button {
    display: block;
    margin: 0 auto;
  }
}

.PublicFooter {
  margin-top: 20px;
}

.PublicGroup .section {
  padding: 1rem;
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

.PublicGroup-markdown img {
  max-width: 768px;
  margin: 1rem 0;
}

.PublicGroup-markdown .video {
  text-align: center;
  iframe {
    border: none;
    max-width: 100%;
  }
}

.PublicGroup-markdown .ContentEditable {
  max-width: 788px;
  margin: 0 auto;
}

.PublicGroup .section:nth-child(even) {
  background-color:var(--light-gray);
}