.PublicGroupHero-content {
  padding: 11rem 0 9rem;
}

.PublicGroupHero-mission {
  font-size: 2.75rem;
  line-height: 3.5rem;
}

.PublicGroupHero-menu {
  font-size: 13px;
  background-color: rgba(0,0,0,.75);
}
.PublicGroupHero-menu a:hover {
  opacity: .8;
}

.PublicGroupHeader::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(#fff, var(--light-gray));
}

.PublicGroupHeader-container {
  padding: 6.25rem 0;
}

.PublicGroupHeader-logo {
  height: 100px;
}

.PublicGroupHeader-title {
  font-size: 2.25rem;
}

.PublicGroupHeader-website {
  color: var(--light-blue);
  font-size: 1rem;
}

.PublicGroup-image-placeholder {
  background: url('/static/images/media-placeholder.svg') no-repeat;
  background-position: center center;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: auto;
}

.PublicGroupWhyJoin {
  min-height: 400px;
}

.PublicGroup-Media-container {
  padding-bottom: 56.25%; /* 16:9 */
}

.PublicGroupJoin-container {
  padding-top: 6.25rem;
}

.PublicGroup-MembersWall::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15rem;
  background-image: linear-gradient(var(--light-gray), #fff);
}

.PublicGroupBackers {
  padding: 6.25rem 0 3rem;
}

.PublicGroup-transactions {
  padding: 6.25rem 0;
}

.PublicGroup-metricContainer {
  /* vertical-align: top; */
  /* box-sizing: border-box; */
}

.PublicGroup-share {
  margin-top: 1rem;
  font-size: 2rem;
}

.PublicGroup-backers {
  clear: both;
}

.PublicGroup-quoteUser .ProfilePhoto,
.PublicGroup-quoteName {
  display: inline-block;
}

.PublicGroup-quoteUser {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.PublicGroup-quoteName {
  padding-left: var(--spacing);
  vertical-align: top;
  font-size: 1.25rem;
}

/* PublicGroup-quoteText h1, .PublicGroup-quoteText h2 { */
/*   font-size: 1.2rem; */
/* } */

/* .PublicGroup-quoteText p:first-child, .PublicGroup-quoteText h1:first-child, .PublicGroup-quoteText h2:first-child { */
/*   margin-top: 0px; */
/* } */

/* .PublicGroup-transactions-list { */
/*   position: relative; */
/* } */

/* .PublicGroup-transactions-list::after { */
/*   content: ''; */
/*   position: absolute; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   height: 50%; */
/*   background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); */
/* } */

.PublicGroup-tx-link {
  padding-right: calc(var(--spacing) * 2);
  float: right
}

.PublicGroup .Button {
  display: inline-block;
  font-weight: bold;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.PublicGroupForm-radioLabel {
  padding: 0 calc(var(--spacing) / 2);
}

.PublicGroupForm-button {
  text-align: center;
}

.PublicGroup .Transaction {
  border-bottom: none;
}

.PublicGroup .ShareIcon {
  padding-right: calc(var(--spacing) / 2);
}

.PublicGroup-donationIcon,
.PublicGroup-expenseIcon {
  float: left;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  padding: 0.2rem;
}

.PublicGroup-emptyState {
  vertical-align: top;
  line-height: 1.3;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PublicGroup-emptyState-image {
  height: 151px;
}

@media(--small-viewport) {
  .PublicGroup .DonationPicker label {
    margin-right: 1.4rem;
  }
}
