/* GENERAL */
.PublicGroup-title {
  font-size: 1.75rem;
}

.PublicGroup-subtitle {
  font-size: 1.375rem;
}

.PublicGroup-font-15 {
  font-size: .9375rem;
  line-height: 1.688rem;
}

.PublicGroup-font-17 {
  font-size: 1.0625rem;
  line-height: 1.688rem;
}

.PublicGroup-font-20 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}



/* HERO */
.PublicGroupHero-content {
  padding: 8rem 0 6rem;
}

.PublicGroupHero-mission {
  line-height: 2.5rem;
  letter-spacing: -.5px;
}

.PublicGroupHero-menu {
  font-size: 13px;
  background-color: rgba(0,0,0,.75);
}

.PublicGroupHero-menu a:hover {
  opacity: .8;
}



/* INTRO / WHO WE ARE */
.PublicGroupIntro::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(#fff, var(--light-gray));
}

.PublicGroupIntro-container {
  padding: 6.25rem 0;
}

.PublicGroupIntro-logo {
  height: 100px;
}

.PublicGroupIntro-title {
  font-size: 2.25rem;
}

.PublicGroupIntro-website {
  color: var(--light-blue);
  font-size: 1rem;
}



/* WHY JOIN */
.PublicGroup-image-placeholder {
  background: url('/static/images/media-placeholder.svg') no-repeat;
  background-position: center center;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: auto;
}

.PublicGroupWhyJoin {
  min-height: 400px;
}

.PublicGroup-Media-container {
  padding-bottom: 56.25%; /* 16:9 */
}



/* JOIN US */
.PublicGroupJoin-container {
  padding-top: 6.25rem;
}

.PublicGroupJoinUs-tier-box-inner {
  border-width: 2px;
  border-radius: 6px;
}

.PublicGroupJoinUs-tier-box-title {
  margin-top: -1em;
}

.PublicGroupJoinUs-tier-box-description {
  min-height: calc(1.38rem * 3);
}


/* MEMBERS WALL */
.PublicGroup-MembersWall::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15rem;
  background-image: linear-gradient(var(--light-gray), #fff);
}

.PublicGroupBackers {
  padding: 4rem 0 3rem;
}



/* EXPENSES AND DONATIONS */
.PublicGroup-transactions {
  padding: 6.25rem 0;
}

.PublicGroup-emptyState {
  vertical-align: top;
  line-height: 1.3;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PublicGroup-emptyState-image {
  height: 151px;
}

/* .PublicGroup-transactions-list { */
/*   position: relative; */
/* } */

/* .PublicGroup-transactions-list::after { */
/*   content: ''; */
/*   position: absolute; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   height: 50%; */
/*   background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); */
/* } */



/* DONATION FLOW */
.PublicGroupDonationFlowWrapper {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.PublicGroupSignupV2-title {
  font-size: 2.25rem;
}

.PublicGroupSignupV2 .Field {
  width: 100%;
  font-size: 15px;
  height: 40px;
  margin: 0;
  padding: 0 .5rem;
  border: 1px solid rgba(48, 50, 51, .15);
  background: white;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.05);
}
.PublicGroupSignupV2 .Field {
  color: var(--darkest-gray);
}
.PublicGroupSignupV2 .Field:hover,
.PublicGroupSignupV2 .Field:hover::-webkit-input-placeholder {
  border-color: #75CC1F;
  color: currentColor;
}
.PublicGroupSignupV2 .Field:focus {
  border-color: #75CC1F;
  box-shadow: 0 0 0 1px #75CC1F;
  color: currentColor;
}

.PublicGroupThanksV2-icon {
  fill: #5CAAE2;
  color: #75CC1F;
}



/* */
.PublicGroup .Button {
  display: inline-block;
  margin: 0;
  /* font-weight: bold; */
  /* padding: 0.75rem 1rem; */
  /* font-size: 1rem; */
}
