/* GENERAL */
.PublicGroup-title {
  font-size: 1.75rem;
}

.PublicGroup-subtitle {
  font-size: 1.375rem;
}

.PublicGroup-font-15 {
  font-size: .9375rem;
  line-height: 1.688rem;
}

.PublicGroup-font-17 {
  font-size: 1.0625rem;
  line-height: 1.688rem;
}



/* HERO */
.PublicGroupHero-content {
  padding: 11rem 0 9rem;
}

.PublicGroupHero-mission {
  font-size: 2.75rem;
  line-height: 3.5rem;
  letter-spacing: -.5px;
}

.PublicGroupHero-menu {
  font-size: 13px;
  background-color: rgba(0,0,0,.75);
}

.PublicGroupHero-menu a:hover {
  opacity: .8;
}



/* INTRO / WHO WE ARE */
.PublicGroupIntro::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(#fff, var(--light-gray));
}

.PublicGroupIntro-container {
  padding: 6.25rem 0;
}

.PublicGroupIntro-logo {
  height: 100px;
}

.PublicGroupIntro-title {
  font-size: 2.25rem;
}

.PublicGroupIntro-website {
  color: var(--light-blue);
  font-size: 1rem;
}



/* WHY JOIN */
.PublicGroup-image-placeholder {
  background: url('/static/images/media-placeholder.svg') no-repeat;
  background-position: center center;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: auto;
}

.PublicGroupWhyJoin {
  min-height: 400px;
}

.PublicGroup-Media-container {
  padding-bottom: 56.25%; /* 16:9 */
}

.PublicGroupJoin-container {
  padding-top: 6.25rem;
}

.PublicGroup-metricContainer {
  /* vertical-align: top; */
  /* box-sizing: border-box; */
}



/* MEMBERS WALL */
.PublicGroup-MembersWall::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15rem;
  background-image: linear-gradient(var(--light-gray), #fff);
}

.PublicGroupBackers {
  padding: 6.25rem 0 3rem;
}



/* EXPENSES AND DONATIONS */
.PublicGroup-transactions {
  padding: 6.25rem 0;
}

.PublicGroup-emptyState {
  vertical-align: top;
  line-height: 1.3;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PublicGroup-emptyState-image {
  height: 151px;
}

/* .PublicGroup-transactions-list { */
/*   position: relative; */
/* } */

/* .PublicGroup-transactions-list::after { */
/*   content: ''; */
/*   position: absolute; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   height: 50%; */
/*   background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); */
/* } */

.PublicGroup .Button {
  display: inline-block;
  margin: 0;
  /* font-weight: bold; */
  /* padding: 0.75rem 1rem; */
  /* font-size: 1rem; */
}
