.PublicGroup-video, .PublicGroup-image {
  width: 70%;
  float: left;
  display: inline-block;
}

.PublicGroup-image img {
  max-width: 100%;
}

.PublicGroup-image-placeholder {
  background: url('/static/images/media-placeholder.svg') no-repeat;
  background-position: center center;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin: auto;
}

.PublicGroup-summary {
  display: inline-block;
  width: 25%;
  padding-left: calc(var(--spacing) * 1.25);
}

.PublicGroup-metricContainer {
  vertical-align: top;
  box-sizing: border-box;
}

.PublicGroup-share {
  margin-top: 1rem;
  font-size: 2rem;
}

.PublicGroup h2 {
  clear: left;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);
}

.PublicGroup-backers {
  clear: both;
}

.PublicGroup-quote {
  overflow: hidden;
  clear: both;
}

.PublicGroup-quoteUser .ProfilePhoto,
.PublicGroup-quoteName {
  display: inline-block;
}

.PublicGroup-quoteUser {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.PublicGroup-quoteName {
  padding-left: var(--spacing);
  vertical-align: top;
  font-size: 1.25rem;
}

.PublicGroup-quoteText {
  clear: both;
  box-sizing: border-box;
  line-height: 24px;
}

PublicGroup-quoteText h1, .PublicGroup-quoteText h2 {
  font-size: 1.2rem;
}

.PublicGroup-quoteText p:first-child, .PublicGroup-quoteText h1:first-child, .PublicGroup-quoteText h2:first-child {
  margin-top: 0px;
}

.PublicGroup-transactions {
  clear: both;
}

.PublicGroup-expenses,
.PublicGroup-donations {
  width: 50%;
  padding-right: calc(var(--spacing) * 2);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.PublicGroup .Button {
  display: inline-block;
  font-weight: bold;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

.PublicGroupForm-radioLabel {
  padding: 0 calc(var(--spacing) / 2);
}

.PublicGroupHeader ,
.PublicGroupForm-button {
  text-align: center;
}

.PublicGroupHeader-logo {
  height: 100px;
  margin: 0 auto 0.5rem;
}

.PublicGroupHeader-website {
  color: var(--light-blue);
  font-size: 1rem;
  text-align: center;
}

.PublicGroupHeader-description {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0;
}

.PublicGroup .Transaction {
  border-bottom: none;
}

.PublicGroup .ShareIcon {
  padding-right: calc(var(--spacing) / 2);
}

.PublicGroup-donationIcon,
.PublicGroup-expenseIcon {
  float: left;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  padding: 0.2rem;
}

.PublicGroup-emptyState {
  vertical-align: top;
  line-height: 1.3;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media(--small-viewport) {
  .PublicGroup .DonationPicker label {
    margin-right: 1.4rem;
  }
}