.Settings {
  background-color: #f3f3f3;
  .LoginTopBar {
    background-color: white;
  }
  .Settings-container {
    .SettingsHead {
      height: 220px;
      background: limegreen;
      margin-bottom: 40px;
    }
    .SettingsNavHeader {
      text-transform: uppercase;
      font-size: 16px;
      color: black;
      font-family: Montserrat, sans-serif;
      margin-bottom: 30px;
      margin-left: 90px;
    }
    .SettingsNav {
      width: 230px;
      height: 400px;
      background: ruby;
      margin-left: 90px;
      margin-right: 20px;
      .SettingsNavItem {
        box-sizing: border-box;
        font-family: Lato;
        font-size: 20px;
        color: #787d80;
        height: 40px;
        margin-bottom: 20px;
        padding: 2px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: capitalize;
        line-height: 1.75;
        &.SettingsNavItem--active {
          background: white;
          cursor: default;
          color: black;
          line-height: 1.75;
        }
      }
    }
  }
  .PublicFooter {
    margin-top: 40px;
  }
}

.SettingsPage {
  background: white;
  margin-right: 90px;
  box-shadow: 0 1px 3px 0 rgba(45, 77, 97, 0.2);
  padding: 40px;
  font-family: Montserrat, sans-serif;
  .CustomInput {
    min-width: 300px;
  }
  .CustomSelect {
    min-width: 130px;
  }
  .SettingsPageH1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
  }
  .SettingsPageHr {
    position: relative;
    height: 1px;
    background: #cccccc;
    margin: 50px 0;
    div {
      display: inline-block;
      font-family: montserratlight, sans-serif;
      font-size: 20px;
      background: white;
      position: absolute;
      left: 0px;
      top: -16px;
      padding-right: 40px;
      color: black;
    }
  }
  p, .SettingsPageP {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.4;
    color: #787d80;
  }
  .SettingsPageButton {
    width: 190px;
    height: 40px;
    border-radius: 100px;
    background-color: #46b0ed;
    color: white;
    text-align: center;
    line-height: 2.55;
    &:hover {
      cursor: pointer;
      opacity: .9;
    }
  }
}
