.Transactions {
	background-color: rgb(245, 246, 247);
	.LoginTopBar {
		background-color: white;
	}
	.ExpenseItem {
		margin-bottom: 20px;
	}
	.Transactions-container {
		box-sizing: border-box;
		max-width: 770px;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		background-color: #fff;
	}
	.padding40 {
		padding: 40px;
		.line1 {
			height: 17px;
			font-family: Montserrat;
			font-size: 14px;
			font-weight: normal;
			color: #000;
			text-transform: uppercase;
		}
		.expenses-container {
			margin-top: 30px;
		}
	}
	.Button {
		display: block;
		margin: auto;
		margin-top: 40px;
		box-sizing: border-box;
		width: 350px;
		height: 55px;
		border-radius: 100px;
		line-height: 1.75;
	}
}

@media (max-width: 818px) {
	.Transactions .Transactions-container {
		margin: 10px;
	}
}