.Transactions {
	background-color: rgb(245, 246, 247);
	.LoginTopBar {
		background-color: white;
	}
	.Transactions-container {
		box-sizing: border-box;
		max-width: 770px;
		min-height: 882px;
		margin: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		background-color: #fff;
	}
	.Button {
		display: block;
		margin: auto;
		margin-top: 40px;
		box-sizing: border-box;
		width: 350px;
		height: 55px;
		border-radius: 100px;
		line-height: 1.75;
	}
}