.DonationPicker ul {
  list-style: none;
  padding: 5px;
  overflow: hidden;
  margin: 1rem 0;
}

.DonationPicker label {
  font-size: 1.25rem;
  margin-right: 4rem;
  float: left;
}

.DonationPicker .DonationPicker-frequency {
}

.DonationPicker li, .DonationPicker label {
  float: left;
  cursor: pointer; 
}

.DonationPicker-frequency {
  /*clear: both;*/
}

.DonationPicker h2 {
  font-size: 1rem;
  font-weight: bold;
}

.DonationPicker-amount label {
  font-size: 1.2rem;
  margin-right: 3rem;
}

.DonationPicker-amount--selected {
  color: var(--green);
  font-weight: bold;
}

.DonationPicker-input .Field {
  margin-top: var(--spacing);
  width: 100%;
  box-sizing: border-box;
  font-size: 1.25rem;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0 none;
  font-size: 1.2rem;
  padding: 1rem;
  margin: .5rem 0;
  min-width: 50%;
  -webkit-transition: all 230ms ease-in;
  transition: all 230ms ease-in;
  border: 1px solid transparent; 
}

.DonationPicker-currency {
  display: block;
  content: '';
  width: 48px;
  height: 48px;
}

.DonationPicker-frequency {
  display: inline-block;
}