.Footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: var(--footer-height);
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border-top: 1px solid var(--gray);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Footer-addButton {
  position: absolute;
  z-index: 20;
  height: 79px;
  width: 75px;
  margin: 0 auto;
  top: -4px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: var(--light-blue);
}

.Footer-addButton a {
  display: block;
  height: 100%;
}

.Footer .Icon {
  position: relative;
  top: 24px;
  font-size: 2rem;
  color: white;
}

.Footer-left {
  float: left;
}

.Footer-userIcon {
  background: url(/static/images/user.svg) no-repeat top left;
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: calc(50% - 15px); /* half of the logo height */
  left: 20px;
}
