.GroupLink a {
  display: inline-block;
  width: 100%;
}

.GroupLink a:focus .Well,
.GroupLink a:hover .Well,
.GroupLink a:active .Well {
   background-color: var(--darkest-gray);
}

.GroupLink span {
  vertical-align: top;
}

.GroupLink .Currency {
  padding-right: var(--spacing);
}

.GroupLink .Icon {
  color: var(--light-blue);
}

