.GroupTransactions-list {
  padding: var(--spacing);
}

.GroupTransactions-title {
  color: var(--dark-gray);
  border-bottom: 1px solid var(--gray);
  padding-bottom: var(--spacing);
}

.GroupTransactions-list .Transaction {
  padding-left: 0;
}
