.PopOverMenu {
  position: fixed;
  left: var(--spacing);
  right: var(--spacing);
  bottom: calc(-var(--footer-height) - 2 * var(--spacing));

  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.18, 0.18, 0.32, 0.9);
}

.PopOverMenu--open {
  bottom: calc(var(--footer-height) + var(--spacing));
}

.PopOverMenu-group {
  border-radius: 5px;
  background: white;
}

.PopOverMenu-item {
  padding: var(--spacing);
  text-align: center;
  border-bottom: 1px solid var(--gray);
}

.PopOverMenu-item:last-child {
  border-bottom: none;
}

.PopOverMenu-cancel {
  padding: var(--spacing);
  text-align: center;
  background: white;
  border-radius: 5px;
  margin-top: calc(var(--spacing) / 2);
  color: var(--light-blue);
}
