.ProfileForm {
  padding-top: calc(var(--spacing) * 1);
}

.ProfileForm-label {
  font-weight: bold;
  padding: var(--spacing) 0;
  clear: both;
}

.ProfileForm-email {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding: var(--spacing) 0;
}

.ProfileForm-buttonContainer {
  text-align: center;
}

.ProfileForm-button {
  background-color: var(--orange);
  margin-top: calc(var(--spacing) * 2);
  display: inline-block;
  font-weight: bold;
}

.ProfileForm-field,
.ProfileForm-input .Field {
  box-sizing: border-box;
  width: 100%;
}

.ProfileForm-logout {
  margin-top: calc(var(--spacing) * 2);
  text-align: center;
  color: var(--light-blue);
  cursor: pointer;
  display: inline-block;
}

.ProfileForm .ProfilePhoto {
  margin: auto;
}

