.Select {
  line-height: 48px;
  background-color: var(--light-gray);
  border: none;
  padding-left: var(--spacing);
  width: 100%;
  margin-bottom: 0.5rem;
}

.SelectContainer {
  position: relative;
  display: inline-block;
}

.SelectContainer:after {
  content: 'i';
  font-family: "opencollective" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light-blue);
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
  bottom: 0;
}
