.TransactionForm {
  margin: var(--spacing);
  text-align: center;
}

.TransactionForm--isUploading .TransactionForm-form {
  opacity: 0.5;
}

.TransactionForm--isUploading .ImageUpload {
  -webkit-animation: loadingAnimation 1s infinite;
  -moz-animation: loadingAnimation 1s infinite;
  -o-animation: loadingAnimation 1s infinite;
  animation: loadingAnimation 1s infinite;
}

.TransactionForm-form .Field,
.TransactionForm-form .datepicker__input {
  width: 60%;
}

.TransactionForm-form .Label {
  /* margin-right: var(--spacing); */
  margin-right: 0.94rem; /* avoid wrapping of the label `Category` on iphone 4-5 */
}

.TransactionForm-form div {
  text-align: right;
}

.TransactionForm-form input[type="date"] {
  height: var(--spacing);
}

.TransactionForm-form .Button--submit {
  margin-top: calc(var(--spacing)/2);
}

.TransactionForm-form .SelectContainer {
  width: calc(60% + calc(var(--spacing)*2)); /* input padding */
}

.TransactionForm .textarea label {
  vertical-align: top;
  display: inline-block;
}

@keyframes loadingAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes loadingAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes loadingAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes loadingAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
