.TransactionComment {
  clear: both;
  overflow: hidden;
  border-top: 1px solid var(--gray);
  padding: var(--spacing);
}

.TransactionComment .ProfilePhoto {
  float: left;
}

.TransactionComment-content {
  padding-left: 6rem;
}

.TransactionComment-fullName,
.TransactionComment-date {
}

.TransactionComment-fullName {
  color: var(--light-blue);
  font-weight: bold;
}

.TransactionComment-date {
  font-size: 12px;
}

.TransactionComment-comment {
  margin-top: 0.5rem;
  font-style: italic;
}


