.Well {
  background-color: var(--light-gray);
  padding: calc(var(--spacing) * 1.5) var(--spacing);
  border-bottom: 1px solid var(--gray);
}

.Well-primary {
  text-transform: uppercase;
  color: var(--light-blue);
  font-weight: bold;
}

.Well-right {
  color: var(--dark-gray);
  float: right;
  font-weight: normal;
}

.Well-secondary {
  padding-bottom: calc(var(--spacing) / 4);
}
