<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{{ cachebust '/css/widget.css' }}}'">
  </head>

  <body id="home">

  {{{body}}}

  {{> google_analytics}}

  </body>
</html>